USE [master]
GO
/****** Object:  Database [MindFitMaster]    Script Date: 12/6/2026 10:53:37 ******/
CREATE DATABASE [MindFitMaster]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MindFitMaster', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MindFitMaster.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MindFitMaster_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MindFitMaster_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MindFitMaster].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MindFitMaster]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/6/2026 10:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gym]    Script Date: 12/6/2026 10:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gym](
	[IdGym] [int] IDENTITY(1,1) NOT NULL,
	[NombreGym] [nvarchar](150) NOT NULL,
	[ConnectionString] [nvarchar](500) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Gym] PRIMARY KEY CLUSTERED 
(
	[IdGym] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonaResponsableMaster]    Script Date: 12/6/2026 10:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonaResponsableMaster](
	[IdUsuarioMaster] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[TipoDocumento] [varchar](50) NOT NULL,
	[NroDocumento] [varchar](20) NOT NULL,
	[Genero] [varchar](20) NULL,
	[FechaNacimiento] [date] NULL,
 CONSTRAINT [PK_PersonaResponsableMaster] PRIMARY KEY CLUSTERED 
(
	[IdUsuarioMaster] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioMaster]    Script Date: 12/6/2026 10:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioMaster](
	[IdUsuarioMaster] [int] IDENTITY(1,1) NOT NULL,
	[IdGym] [int] NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[RefreshToken] [varchar](512) NULL,
	[RefreshTokenExpiryTime] [datetime2](7) NULL,
	[PasswordResetTokenHash] [varchar](64) NULL,
	[PasswordResetTokenExpiryTime] [datetime2](7) NULL,
 CONSTRAINT [PK_UsuarioMaster] PRIMARY KEY CLUSTERED 
(
	[IdUsuarioMaster] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260525211550_InitMasterDb', N'10.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260531223331_AgregadoUsuariosMaster', N'10.0.3')
GO
SET IDENTITY_INSERT [dbo].[Gym] ON 

INSERT [dbo].[Gym] ([IdGym], [NombreGym], [ConnectionString], [Activo], [FechaCreacion]) VALUES (1, N'MindFit Intelligence HQ (Entorno Dev)', N'Server=DiDomenicoPC\SQLEXPRESS; Database=MindFitIntelligence; User Id=nicolas_didomenico; Password=0045981746; TrustServerCertificate=True;', 1, CAST(N'2026-05-25T21:27:43.8866667' AS DateTime2))
INSERT [dbo].[Gym] ([IdGym], [NombreGym], [ConnectionString], [Activo], [FechaCreacion]) VALUES (2, N'Saries Gym (Cliente Demo)', N'Server=DiDomenicoPC\SQLEXPRESS; Database=MindFit_ClienteDemo; User Id=nicolas_didomenico; Password=0045981746; TrustServerCertificate=True;', 1, CAST(N'2026-05-25T21:27:43.8866667' AS DateTime2))
INSERT [dbo].[Gym] ([IdGym], [NombreGym], [ConnectionString], [Activo], [FechaCreacion]) VALUES (3, N'Iron Fitness Center', N'Server=DiDomenicoPC\SQLEXPRESS; Database=MindFit_IronFitnessCenter; User Id=nicolas_didomenico; Password=0045981746; TrustServerCertificate=True;', 0, CAST(N'2026-05-31T23:44:42.9438332' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Gym] OFF
GO
INSERT [dbo].[PersonaResponsableMaster] ([IdUsuarioMaster], [Nombre], [Apellido], [Email], [Telefono], [Direccion], [Ciudad], [TipoDocumento], [NroDocumento], [Genero], [FechaNacimiento]) VALUES (1, N'Roberto', N'García', N'roberto@ironfitness.com', N'3415558899', N'Bv. Oroño 1500', N'Rosario', N'DNI', N'35123456', N'Masculino', CAST(N'1990-05-15' AS Date))
GO
SET IDENTITY_INSERT [dbo].[UsuarioMaster] ON 

INSERT [dbo].[UsuarioMaster] ([IdUsuarioMaster], [IdGym], [FechaRegistro], [Username], [PasswordHash], [RefreshToken], [RefreshTokenExpiryTime], [PasswordResetTokenHash], [PasswordResetTokenExpiryTime]) VALUES (1, 3, CAST(N'2026-05-31' AS Date), N'admin_iron', N'AQAAAAIAAYagAAAAELsv9MT69PpInfulGtIXHht1uXqkSOgA1SZZ0m8W7SDayxKydYrRsi76GKMNQpeLQA==', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UsuarioMaster] OFF
GO
/****** Object:  Index [IX_UsuarioMaster_IdGym]    Script Date: 12/6/2026 10:53:37 ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioMaster_IdGym] ON [dbo].[UsuarioMaster]
(
	[IdGym] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UsuarioMaster_Username]    Script Date: 12/6/2026 10:53:37 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UsuarioMaster_Username] ON [dbo].[UsuarioMaster]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Gym] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Activo]
GO
ALTER TABLE [dbo].[Gym] ADD  DEFAULT (getutcdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[PersonaResponsableMaster]  WITH CHECK ADD  CONSTRAINT [FK_PersonaResponsableMaster_UsuarioMaster_IdUsuarioMaster] FOREIGN KEY([IdUsuarioMaster])
REFERENCES [dbo].[UsuarioMaster] ([IdUsuarioMaster])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonaResponsableMaster] CHECK CONSTRAINT [FK_PersonaResponsableMaster_UsuarioMaster_IdUsuarioMaster]
GO
ALTER TABLE [dbo].[UsuarioMaster]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioMaster_Gym_IdGym] FOREIGN KEY([IdGym])
REFERENCES [dbo].[Gym] ([IdGym])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioMaster] CHECK CONSTRAINT [FK_UsuarioMaster_Gym_IdGym]
GO
USE [master]
GO
