USE [master]
GO
/****** Object:  Database [MindFitIntelligence]    Script Date: 1/3/2026 16:40:25 ******/
CREATE DATABASE [MindFitIntelligence]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MindFitIntelligence', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MindFitIntelligence.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MindFitIntelligence_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MindFitIntelligence_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MindFitIntelligence].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MindFitIntelligence]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/3/2026 16:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dia]    Script Date: 1/3/2026 16:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dia](
	[IdDia] [int] IDENTITY(1,1) NOT NULL,
	[NombreDia] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Dia] PRIMARY KEY CLUSTERED 
(
	[IdDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 1/3/2026 16:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[IdGrupo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_Grupo] PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoPermiso]    Script Date: 1/3/2026 16:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoPermiso](
	[IdGrupo] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
 CONSTRAINT [PK_GrupoPermiso] PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilIA]    Script Date: 1/3/2026 16:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilIA](
	[IdUsuario] [int] NOT NULL,
	[ObjetivoPrincipal] [varchar](500) NULL,
	[NivelExperiencia] [varchar](500) NULL,
	[EjerciciosPreferidos] [varchar](500) NULL,
	[EjerciciosAEvitar] [varchar](500) NULL,
	[DisponibilidadHoraria] [varchar](500) NULL,
	[MotivacionPersonal] [varchar](500) NULL,
 CONSTRAINT [PK_PerfilIA] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 1/3/2026 16:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](80) NOT NULL,
	[Descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonaResponsable]    Script Date: 1/3/2026 16:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonaResponsable](
	[IdUsuario] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[TipoDocumento] [varchar](50) NOT NULL,
	[NroDocumento] [varchar](20) NOT NULL,
	[Genero] [varchar](20) NULL,
	[FechaNacimiento] [date] NULL,
 CONSTRAINT [PK_PersonaResponsable] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonaSocio]    Script Date: 1/3/2026 16:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonaSocio](
	[IdUsuario] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[TipoDocumento] [varchar](50) NOT NULL,
	[NroDocumento] [varchar](20) NOT NULL,
	[Genero] [varchar](20) NULL,
	[FechaNacimiento] [date] NULL,
	[ObraSocial] [varchar](50) NULL,
	[Plan] [varchar](50) NOT NULL,
	[EstadoSocio] [varchar](50) NOT NULL,
	[FechaInicioActividades] [date] NULL,
	[FechaFinActividades] [date] NULL,
	[FechaNotificacion] [date] NULL,
	[RespuestaNotificacion] [bit] NULL,
	[Pregunta] [varchar](100) NULL,
	[Respuesta] [varchar](100) NULL,
 CONSTRAINT [PK_PersonaSocio] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutina]    Script Date: 1/3/2026 16:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutina](
	[IdRutina] [int] IDENTITY(1,1) NOT NULL,
	[FechaModificacion] [datetime2](7) NOT NULL,
	[IdPersonaSocio] [int] NOT NULL,
	[IdDia] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Rutina] PRIMARY KEY CLUSTERED 
(
	[IdRutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 1/3/2026 16:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[RefreshToken] [varchar](512) NULL,
	[RefreshTokenExpiryTime] [datetime2](7) NULL,
	[PasswordResetTokenExpiryTime] [datetime2](7) NULL,
	[PasswordResetTokenHash] [varchar](64) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioGrupo]    Script Date: 1/3/2026 16:40:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioGrupo](
	[IdUsuario] [int] NOT NULL,
	[IdGrupo] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioGrupo] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260210171414_InitDB', N'10.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260211182024_JWT', N'10.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260213161344_AddPasswordResetFields', N'10.0.2')
GO
SET IDENTITY_INSERT [dbo].[Dia] ON 

INSERT [dbo].[Dia] ([IdDia], [NombreDia]) VALUES (7, N'Domingo')
INSERT [dbo].[Dia] ([IdDia], [NombreDia]) VALUES (4, N'Jueves')
INSERT [dbo].[Dia] ([IdDia], [NombreDia]) VALUES (1, N'Lunes')
SET IDENTITY_INSERT [dbo].[Dia] OFF
GO
SET IDENTITY_INSERT [dbo].[Grupo] ON 

INSERT [dbo].[Grupo] ([IdGrupo], [Nombre], [Descripcion]) VALUES (1, N'Admin', N'Migrado desde Usuario.Rol')
INSERT [dbo].[Grupo] ([IdGrupo], [Nombre], [Descripcion]) VALUES (2, N'Responsable', N'Migrado desde Usuario.Rol')
SET IDENTITY_INSERT [dbo].[Grupo] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([IdPermiso], [Codigo], [Descripcion]) VALUES (1, N'CREAR_USUARIO', N'Permite la creación de nuevos usuarios en el sistema')
INSERT [dbo].[Permiso] ([IdPermiso], [Codigo], [Descripcion]) VALUES (2, N'EDITAR_USUARIO', N'Permite modificar la información de usuarios existentes')
INSERT [dbo].[Permiso] ([IdPermiso], [Codigo], [Descripcion]) VALUES (3, N'ELIMINAR_USUARIO', N'Permite dar de baja o eliminar usuarios del sistema')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
INSERT [dbo].[PersonaResponsable] ([IdUsuario], [Nombre], [Apellido], [Email], [Telefono], [Direccion], [Ciudad], [TipoDocumento], [NroDocumento], [Genero], [FechaNacimiento]) VALUES (1, N'Juan', N'Pérez', N'juan.actualizado@test.com', NULL, N'San Martín 456', N'Funes', N'DNI', N'12345678', N'Masculino', CAST(N'1990-05-10' AS Date))
INSERT [dbo].[PersonaResponsable] ([IdUsuario], [Nombre], [Apellido], [Email], [Telefono], [Direccion], [Ciudad], [TipoDocumento], [NroDocumento], [Genero], [FechaNacimiento]) VALUES (2, N'Nicolás', N'Di Domenico', N'nico@test.com', N'3415551234', N'Av. Pellegrini 1234', N'Rosario', N'DNI', N'40123456', N'Masculino', CAST(N'1998-05-15' AS Date))
INSERT [dbo].[PersonaResponsable] ([IdUsuario], [Nombre], [Apellido], [Email], [Telefono], [Direccion], [Ciudad], [TipoDocumento], [NroDocumento], [Genero], [FechaNacimiento]) VALUES (3, N'Mariana', N'Gómez', N'mariana.gomez@test.com', N'3416123456', N'San Martín 456', N'Rosario', N'DNI', N'39876543', N'Femenino', CAST(N'1995-08-22' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Rutina] ON 

INSERT [dbo].[Rutina] ([IdRutina], [FechaModificacion], [IdPersonaSocio], [IdDia], [Activo]) VALUES (1, CAST(N'2026-02-26T12:09:53.1227697' AS DateTime2), 5, 1, 0)
INSERT [dbo].[Rutina] ([IdRutina], [FechaModificacion], [IdPersonaSocio], [IdDia], [Activo]) VALUES (2, CAST(N'2026-02-26T12:09:53.1227697' AS DateTime2), 5, 3, 0)
INSERT [dbo].[Rutina] ([IdRutina], [FechaModificacion], [IdPersonaSocio], [IdDia], [Activo]) VALUES (3, CAST(N'2026-02-26T12:09:53.1227697' AS DateTime2), 5, 5, 0)
SET IDENTITY_INSERT [dbo].[Rutina] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [FechaRegistro], [Username], [PasswordHash], [RefreshToken], [RefreshTokenExpiryTime], [PasswordResetTokenExpiryTime], [PasswordResetTokenHash]) VALUES (1, CAST(N'2026-02-10' AS Date), N'usuario_test_actualizado', N'HASH_ACTUALIZADO', NULL, NULL, NULL, NULL)
INSERT [dbo].[Usuario] ([IdUsuario], [FechaRegistro], [Username], [PasswordHash], [RefreshToken], [RefreshTokenExpiryTime], [PasswordResetTokenExpiryTime], [PasswordResetTokenHash]) VALUES (2, CAST(N'2026-02-11' AS Date), N'nico_admin', N'AQAAAAIAAYagAAAAEKPSHFlMuePZbYzB810+aPrrefTtnZTtdO4+3qaSPXMsBdcYsRheaVw881uhyOXVXg==', NULL, NULL, NULL, NULL)
INSERT [dbo].[Usuario] ([IdUsuario], [FechaRegistro], [Username], [PasswordHash], [RefreshToken], [RefreshTokenExpiryTime], [PasswordResetTokenExpiryTime], [PasswordResetTokenHash]) VALUES (3, CAST(N'2026-02-12' AS Date), N'mariana_admin', N'AQAAAAIAAYagAAAAEEm5BS7R445rh4N7MGoPlWZQVlHUIX7wj8sst/yf24vdmTBMsQx9a0/EyWArUw9rYg==', N'egRVwc0BsSF4l/Y0TLrU/CrIkzB1KUsAVgN1y+l32rQ=', CAST(N'2026-02-20T13:45:59.8750216' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[UsuarioGrupo] ([IdUsuario], [IdGrupo]) VALUES (4, 1)
INSERT [dbo].[UsuarioGrupo] ([IdUsuario], [IdGrupo]) VALUES (1, 2)
INSERT [dbo].[UsuarioGrupo] ([IdUsuario], [IdGrupo]) VALUES (2, 2)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Dia_NombreDia]    Script Date: 1/3/2026 16:40:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Dia_NombreDia] ON [dbo].[Dia]
(
	[NombreDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Grupo_Nombre]    Script Date: 1/3/2026 16:40:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Grupo_Nombre] ON [dbo].[Grupo]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GrupoPermiso_IdPermiso]    Script Date: 1/3/2026 16:40:25 ******/
CREATE NONCLUSTERED INDEX [IX_GrupoPermiso_IdPermiso] ON [dbo].[GrupoPermiso]
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Permiso_Codigo]    Script Date: 1/3/2026 16:40:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Permiso_Codigo] ON [dbo].[Permiso]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rutina_IdDia]    Script Date: 1/3/2026 16:40:25 ******/
CREATE NONCLUSTERED INDEX [IX_Rutina_IdDia] ON [dbo].[Rutina]
(
	[IdDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rutina_IdPersonaSocio_IdDia]    Script Date: 1/3/2026 16:40:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Rutina_IdPersonaSocio_IdDia] ON [dbo].[Rutina]
(
	[IdPersonaSocio] ASC,
	[IdDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario_Username]    Script Date: 1/3/2026 16:40:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Usuario_Username] ON [dbo].[Usuario]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsuarioGrupo_IdGrupo]    Script Date: 1/3/2026 16:40:25 ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioGrupo_IdGrupo] ON [dbo].[UsuarioGrupo]
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PersonaSocio] ADD  DEFAULT ('') FOR [Plan]
GO
ALTER TABLE [dbo].[PersonaSocio] ADD  DEFAULT ('') FOR [EstadoSocio]
GO
ALTER TABLE [dbo].[Rutina] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Activo]
GO
ALTER TABLE [dbo].[GrupoPermiso]  WITH CHECK ADD  CONSTRAINT [FK_GrupoPermiso_Grupo_IdGrupo] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupo] ([IdGrupo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GrupoPermiso] CHECK CONSTRAINT [FK_GrupoPermiso_Grupo_IdGrupo]
GO
ALTER TABLE [dbo].[GrupoPermiso]  WITH CHECK ADD  CONSTRAINT [FK_GrupoPermiso_Permiso_IdPermiso] FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Permiso] ([IdPermiso])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GrupoPermiso] CHECK CONSTRAINT [FK_GrupoPermiso_Permiso_IdPermiso]
GO
ALTER TABLE [dbo].[PerfilIA]  WITH CHECK ADD  CONSTRAINT [FK_PerfilIA_PersonaSocio_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[PersonaSocio] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PerfilIA] CHECK CONSTRAINT [FK_PerfilIA_PersonaSocio_IdUsuario]
GO
ALTER TABLE [dbo].[PersonaResponsable]  WITH CHECK ADD  CONSTRAINT [FK_PersonaResponsable_Usuario_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonaResponsable] CHECK CONSTRAINT [FK_PersonaResponsable_Usuario_IdUsuario]
GO
ALTER TABLE [dbo].[PersonaSocio]  WITH CHECK ADD  CONSTRAINT [FK_PersonaSocio_Usuario_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonaSocio] CHECK CONSTRAINT [FK_PersonaSocio_Usuario_IdUsuario]
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [FK_Rutina_Dia_IdDia] FOREIGN KEY([IdDia])
REFERENCES [dbo].[Dia] ([IdDia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [FK_Rutina_Dia_IdDia]
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [FK_Rutina_PersonaSocio_IdPersonaSocio] FOREIGN KEY([IdPersonaSocio])
REFERENCES [dbo].[PersonaSocio] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [FK_Rutina_PersonaSocio_IdPersonaSocio]
GO
ALTER TABLE [dbo].[UsuarioGrupo]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioGrupo_Grupo_IdGrupo] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupo] ([IdGrupo])
GO
ALTER TABLE [dbo].[UsuarioGrupo] CHECK CONSTRAINT [FK_UsuarioGrupo_Grupo_IdGrupo]
GO
ALTER TABLE [dbo].[UsuarioGrupo]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioGrupo_Usuario_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioGrupo] CHECK CONSTRAINT [FK_UsuarioGrupo_Usuario_IdUsuario]
GO
USE [master]
GO
