USE [master]
GO
/****** Object:  Database [MindFitBD]    Script Date: 12/6/2026 10:52:02 ******/
CREATE DATABASE [MindFitBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MindFitBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MindFitBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MindFitBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MindFitBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MindFitBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MindFitBD]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/6/2026 10:52:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 12/6/2026 10:52:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreYApellido] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Rol] [nvarchar](max) NOT NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[RefreshTokenExpiryTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250827011047_InitDB', N'9.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250827012319_UpdateUsuarioEmail', N'9.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250927190736_AgregarCamposUsuario', N'9.0.8')
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [NombreYApellido], [Email], [PasswordHash], [Username], [Rol], [RefreshToken], [RefreshTokenExpiryTime]) VALUES (1, N'Nico Di Admin', N'Admin@gmail.com', N'', N'', N'', NULL, NULL)
INSERT [dbo].[Usuarios] ([IdUsuario], [NombreYApellido], [Email], [PasswordHash], [Username], [Rol], [RefreshToken], [RefreshTokenExpiryTime]) VALUES (2, N'Laureano Mandrile', N'Ikprom@gmail.com', N'AQAAAAIAAYagAAAAEERMsrhBTMdmmCQVyMzeaprMg/SoagQ1hOkn5pAj6JP4i+KNrkooedgmuWhmCQb0UQ==', N'Ikprom', N'Admin', N'mcdZi4diNVF+2EmAGVqVGFH9QgoBdXUbKXn8KQ8aNF4=', CAST(N'2025-10-19T19:43:23.9319192' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (N'') FOR [PasswordHash]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (N'') FOR [Username]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (N'') FOR [Rol]
GO
USE [master]
GO
