USE [master]
GO
/****** Object:  Database [bd_gestion_empleados]    Script Date: 30/1/2025 13:24:14 ******/
CREATE DATABASE [bd_gestion_empleados]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_gestion_empleados', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bd_gestion_empleados.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd_gestion_empleados_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bd_gestion_empleados_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_gestion_empleados].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_gestion_empleados]
GO
/****** Object:  Table [dbo].[tb_cargos]    Script Date: 30/1/2025 13:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cargos](
	[id_cargo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cargo] [varchar](50) NULL,
	[activo_cargo] [bit] NULL,
 CONSTRAINT [PK_tb_cargos] PRIMARY KEY CLUSTERED 
(
	[id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_departamentos]    Script Date: 30/1/2025 13:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_departamentos](
	[id_departamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre_departamento] [varchar](50) NULL,
	[activo_departamento] [bit] NULL,
 CONSTRAINT [PK_tb_departamentos] PRIMARY KEY CLUSTERED 
(
	[id_departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_empleados]    Script Date: 30/1/2025 13:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_empleados](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre_empleado] [varchar](100) NULL,
	[direccion_empleado] [varchar](150) NULL,
	[fecha_nacimiento_empleado] [date] NULL,
	[telefono_empleado] [varchar](80) NULL,
	[salario_empleado] [money] NULL,
	[id_departamento] [int] NULL,
	[id_cargo] [int] NULL,
	[activo_empleado] [bit] NULL,
 CONSTRAINT [PK_tb_empleados] PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_empleados]  WITH CHECK ADD  CONSTRAINT [FK_tb_empleados_tb_cargos] FOREIGN KEY([id_cargo])
REFERENCES [dbo].[tb_cargos] ([id_cargo])
GO
ALTER TABLE [dbo].[tb_empleados] CHECK CONSTRAINT [FK_tb_empleados_tb_cargos]
GO
ALTER TABLE [dbo].[tb_empleados]  WITH CHECK ADD  CONSTRAINT [FK_tb_empleados_tb_departamentos] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[tb_departamentos] ([id_departamento])
GO
ALTER TABLE [dbo].[tb_empleados] CHECK CONSTRAINT [FK_tb_empleados_tb_departamentos]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_EMPLEADOS]    Script Date: 30/1/2025 13:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ACTUALIZAR_EMPLEADOS]
    @nIdEmpleado int,
    @cNombre varchar(100),
    @cDireccion varchar(150),
    @dFechaNacimiento date,
    @cTelefono varchar(80),
    @nSalario money,
    @nIdDepartamento int,
    @nIdCargo int
AS
UPDATE tb_empleados SET 
    nombre_empleado = @cNombre,
    direccion_empleado = @cDireccion,
    fecha_nacimiento_empleado = @dFechaNacimiento,
    telefono_empleado = @cTelefono,
    salario_empleado = @nSalario,
    id_departamento = @nIdDepartamento,
    id_cargo = @nIdCargo
WHERE id_empleado = @nIdEmpleado
GO
/****** Object:  StoredProcedure [dbo].[SP_DESACTIVAR_EMPLEADOS]    Script Date: 30/1/2025 13:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DESACTIVAR_EMPLEADOS]
    @nIdEmpleado int
AS
UPDATE tb_empleados SET activo_empleado = 0
WHERE id_empleado = @nIdEmpleado
GO
/****** Object:  StoredProcedure [dbo].[SP_GUARDAR_EMPLEADOS]    Script Date: 30/1/2025 13:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GUARDAR_EMPLEADOS]
    @cNombre varchar(100),
    @cDireccion varchar(150),
    @dFechaNacimiento date,
    @cTelefono varchar(80),
    @nSalario money,
    @nIdDepartamento int,
    @nIdCargo int
AS
INSERT INTO tb_empleados (
    nombre_empleado,
    direccion_empleado,
    fecha_nacimiento_empleado,
    telefono_empleado,
    salario_empleado,
    id_departamento,
    id_cargo,
    activo_empleado
)
VALUES (
    @cNombre,
    @cDireccion,
    @dFechaNacimiento,
    @cTelefono,
    @nSalario,
    @nIdDepartamento,
    @nIdCargo,
	1
);
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_CARGOS]    Script Date: 30/1/2025 13:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_CARGOS]
AS
SELECT id_cargo, nombre_cargo FROM tb_cargos
WHERE activo_cargo = 1;
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_DEPARTAMENTOS]    Script Date: 30/1/2025 13:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_DEPARTAMENTOS]
AS
SELECT id_departamento, nombre_departamento FROM tb_departamentos
WHERE activo_departamento = 1;
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_EMPLEADOS]    Script Date: 30/1/2025 13:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_EMPLEADOS]
@cBusqueda varchar(100) = ''
AS
SELECT e.id_empleado AS [ID],
	   e.nombre_empleado AS [Nombre],
	   d.nombre_departamento AS [Departamento],
	   c.nombre_cargo AS [Cargo],
	   e.salario_empleado AS [Salario],
	   e.direccion_empleado AS [Dirección],
	   e.telefono_empleado AS [Teléfono],
	   e.fecha_nacimiento_empleado AS [Fecha Nacimiento]
FROM tb_empleados e
INNER JOIN tb_departamentos d
ON e.id_departamento = d.id_departamento
INNER JOIN tb_cargos c
ON e.id_cargo = c.id_cargo
WHERE e.activo_empleado = 1 AND 
UPPER(e.nombre_empleado) +
UPPER(d.nombre_departamento) +
UPPER(c.nombre_cargo)
LIKE '%' + UPPER(@cBusqueda)+'%'
GO
USE [master]
GO
