USE [DBSISTEMA_GYM]
GO
/****** Object:  UserDefinedTableType [dbo].[ETabla_Grupos]    Script Date: 7/4/2025 16:41:44 ******/
CREATE TYPE [dbo].[ETabla_Grupos] AS TABLE(
	[IdGrupo] [int] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ETabla_Permisos]    Script Date: 7/4/2025 16:41:44 ******/
CREATE TYPE [dbo].[ETabla_Permisos] AS TABLE(
	[IdGrupo] [int] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ETabla_Rutinas]    Script Date: 7/4/2025 16:41:44 ******/
CREATE TYPE [dbo].[ETabla_Rutinas] AS TABLE(
	[FechaModificacion] [date] NOT NULL,
	[Dia] [varchar](20) NOT NULL
)
GO
/****** Object:  Table [dbo].[Accion]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accion](
	[IdAccion] [int] IDENTITY(1,1) NOT NULL,
	[NombreAccion] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[IdGrupo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calentamiento]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calentamiento](
	[IdCalentamiento] [int] IDENTITY(1,1) NOT NULL,
	[IdMaquina] [int] NULL,
	[DescripcionCalentamiento] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCalentamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CupoFecha]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CupoFecha](
	[IdCupoFecha] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[IdRangoHorario] [int] NOT NULL,
	[CupoActual] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCupoFecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ejercicio]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejercicio](
	[IdElemento] [int] NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdElemento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ElementoGimnasio]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElementoGimnasio](
	[IdElemento] [int] IDENTITY(1,1) NOT NULL,
	[NombreElemento] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdElemento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entrenamiento]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrenamiento](
	[IdEntrenamiento] [int] IDENTITY(1,1) NOT NULL,
	[IdRutina] [int] NOT NULL,
	[Series] [int] NOT NULL,
	[Repeticiones] [int] NOT NULL,
	[IdElementoGimnasio] [int] NULL,
	[Peso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEntrenamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipamiento]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipamiento](
	[IdElemento] [int] NOT NULL,
	[Precio] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdElemento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estiramiento]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estiramiento](
	[IdEstiramiento] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionEstiramiento] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstiramiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gimnasio]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gimnasio](
	[IdGimnasio] [int] IDENTITY(1,1) NOT NULL,
	[NombreGimnasio] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Logo] [varbinary](max) NULL,
	[HoraAperturaLaV] [time](7) NULL,
	[HoraCierreLaV] [time](7) NULL,
	[HoraAperturaSabado] [time](7) NULL,
	[HoraCierreSabado] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGimnasio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[IdGrupo] [int] IDENTITY(1,1) NOT NULL,
	[NombreMenu] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial_Calentamiento]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial_Calentamiento](
	[IdHistorialCalentamiento] [int] IDENTITY(1,1) NOT NULL,
	[IdHistorial] [int] NULL,
	[IdCalentamiento] [int] NOT NULL,
	[Duracion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorialCalentamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial_Entrenamiento]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial_Entrenamiento](
	[IdHistorialEntrenamiento] [int] IDENTITY(1,1) NOT NULL,
	[IdHistorial] [int] NULL,
	[IdElementoGimnasio] [int] NOT NULL,
	[Series] [int] NULL,
	[Repeticiones] [int] NULL,
	[Peso] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorialEntrenamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial_Estiramiento]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial_Estiramiento](
	[IdHistorialEstiramiento] [int] IDENTITY(1,1) NOT NULL,
	[IdHistorial] [int] NULL,
	[IdEstiramiento] [int] NOT NULL,
	[Duracion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorialEstiramiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialRutina]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialRutina](
	[IdHistorial] [int] IDENTITY(1,1) NOT NULL,
	[IdSocio] [int] NOT NULL,
	[Dia] [nvarchar](20) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialRutinas]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialRutinas](
	[IdHistorialRutinas] [int] NOT NULL,
	[UltimaFecha] [date] NOT NULL,
	[UltimaHora] [time](7) NOT NULL,
 CONSTRAINT [PK_HistorialRutinas] PRIMARY KEY CLUSTERED 
(
	[IdHistorialRutinas] ASC,
	[UltimaFecha] ASC,
	[UltimaHora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maquina]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maquina](
	[IdElemento] [int] NOT NULL,
	[FechaFabricacion] [date] NOT NULL,
	[FechaCompra] [date] NOT NULL,
	[Precio] [float] NOT NULL,
	[Peso] [int] NOT NULL,
	[EsElectrica] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdElemento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NULL,
	[FechaRegistro] [datetime] NULL,
	[IdGrupo] [int] NULL,
	[IdAccion] [int] NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RangoHorario]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RangoHorario](
	[IdRangoHorario] [int] IDENTITY(1,1) NOT NULL,
	[HoraDesde] [time](7) NULL,
	[HoraHasta] [time](7) NULL,
	[Fecha] [date] NULL,
	[CupoActual] [int] NULL,
	[CupoMaximo] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[SoloSabado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRangoHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RangoHorario_Usuario]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RangoHorario_Usuario](
	[IdRangoHorario] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRangoHorario] ASC,
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutina]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutina](
	[IdRutina] [int] IDENTITY(1,1) NOT NULL,
	[IdSocio] [int] NOT NULL,
	[FechaModificacion] [date] NOT NULL,
	[Dia] [varchar](20) NOT NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutina_Calentamiento]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutina_Calentamiento](
	[IdRutina] [int] NOT NULL,
	[IdCalentamiento] [int] NOT NULL,
	[Duracion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRutina] ASC,
	[IdCalentamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutina_Estiramiento]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutina_Estiramiento](
	[IdRutina] [int] NOT NULL,
	[IdEstiramiento] [int] NOT NULL,
	[Duracion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRutina] ASC,
	[IdEstiramiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Socio]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socio](
	[IdSocio] [int] IDENTITY(1,1) NOT NULL,
	[NombreYApellido] [varchar](100) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Genero] [varchar](50) NOT NULL,
	[NroDocumento] [int] NOT NULL,
	[Ciudad] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[ObraSocial] [varchar](50) NULL,
	[Plan] [varchar](50) NULL,
	[EstadoSocio] [varchar](50) NOT NULL,
	[FechaInicioActividades] [date] NULL,
	[FechaFinActividades] [date] NULL,
	[FechaNotificacion] [date] NULL,
	[RespuestaNotificacion] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[IdTurno] [int] IDENTITY(1,1) NOT NULL,
	[IdRangoHorario] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdSocio] [int] NOT NULL,
	[FechaTurno] [date] NOT NULL,
	[EstadoTurno] [varchar](50) NOT NULL,
	[CodigoIngreso] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreYApellido] [varchar](100) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[NroDocumento] [int] NOT NULL,
	[Genero] [varchar](50) NULL,
	[FechaNacimiento] [datetime] NULL,
	[NombreUsuario] [varchar](50) NULL,
	[Clave] [varchar](50) NULL,
	[IdRol] [int] NULL,
	[Estado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accion] ON 

INSERT [dbo].[Accion] ([IdAccion], [NombreAccion], [Descripcion], [IdGrupo]) VALUES (1, N'menuUsuarios', N'Gestionar usuarios', 1)
INSERT [dbo].[Accion] ([IdAccion], [NombreAccion], [Descripcion], [IdGrupo]) VALUES (2, N'menuRoles', N'Gestionar roles del gym', 1)
INSERT [dbo].[Accion] ([IdAccion], [NombreAccion], [Descripcion], [IdGrupo]) VALUES (3, N'menuCalentamiento', N'Gestionar técnicas de calentamiento', 1)
SET IDENTITY_INSERT [dbo].[Accion] OFF
GO
SET IDENTITY_INSERT [dbo].[Calentamiento] ON 

INSERT [dbo].[Calentamiento] ([IdCalentamiento], [IdMaquina], [DescripcionCalentamiento]) VALUES (1, NULL, N'Saltar la cuerda')
INSERT [dbo].[Calentamiento] ([IdCalentamiento], [IdMaquina], [DescripcionCalentamiento]) VALUES (2, NULL, N'Trotar en el lugar')
INSERT [dbo].[Calentamiento] ([IdCalentamiento], [IdMaquina], [DescripcionCalentamiento]) VALUES (3, NULL, N'Jumping jacks')
SET IDENTITY_INSERT [dbo].[Calentamiento] OFF
GO
SET IDENTITY_INSERT [dbo].[CupoFecha] ON 

INSERT [dbo].[CupoFecha] ([IdCupoFecha], [Fecha], [IdRangoHorario], [CupoActual]) VALUES (1, CAST(N'2025-03-18' AS Date), 15, 0)
INSERT [dbo].[CupoFecha] ([IdCupoFecha], [Fecha], [IdRangoHorario], [CupoActual]) VALUES (2, CAST(N'2025-03-16' AS Date), 19, 0)
INSERT [dbo].[CupoFecha] ([IdCupoFecha], [Fecha], [IdRangoHorario], [CupoActual]) VALUES (3, CAST(N'2025-03-16' AS Date), 20, 0)
SET IDENTITY_INSERT [dbo].[CupoFecha] OFF
GO
INSERT [dbo].[Ejercicio] ([IdElemento], [Descripcion]) VALUES (21, N'Ejercicio de Sentadillas sin bolsa')
INSERT [dbo].[Ejercicio] ([IdElemento], [Descripcion]) VALUES (22, N'Ejercicio de Peso muerto')
INSERT [dbo].[Ejercicio] ([IdElemento], [Descripcion]) VALUES (23, N'Ejercicio de Press de banca')
GO
SET IDENTITY_INSERT [dbo].[ElementoGimnasio] ON 

INSERT [dbo].[ElementoGimnasio] ([IdElemento], [NombreElemento]) VALUES (1, N'Mancuernas')
INSERT [dbo].[ElementoGimnasio] ([IdElemento], [NombreElemento]) VALUES (2, N'Barras olímpicas')
INSERT [dbo].[ElementoGimnasio] ([IdElemento], [NombreElemento]) VALUES (3, N'Discos de peso')
SET IDENTITY_INSERT [dbo].[ElementoGimnasio] OFF
GO
SET IDENTITY_INSERT [dbo].[Entrenamiento] ON 

INSERT [dbo].[Entrenamiento] ([IdEntrenamiento], [IdRutina], [Series], [Repeticiones], [IdElementoGimnasio], [Peso]) VALUES (4, 21, 5, 10, 21, 10)
INSERT [dbo].[Entrenamiento] ([IdEntrenamiento], [IdRutina], [Series], [Repeticiones], [IdElementoGimnasio], [Peso]) VALUES (7, 15, 5, 5, 22, 60)
INSERT [dbo].[Entrenamiento] ([IdEntrenamiento], [IdRutina], [Series], [Repeticiones], [IdElementoGimnasio], [Peso]) VALUES (8, 27, 5, 10, 8, 0)
SET IDENTITY_INSERT [dbo].[Entrenamiento] OFF
GO
INSERT [dbo].[Equipamiento] ([IdElemento], [Precio]) VALUES (1, 5000)
INSERT [dbo].[Equipamiento] ([IdElemento], [Precio]) VALUES (2, 8000)
INSERT [dbo].[Equipamiento] ([IdElemento], [Precio]) VALUES (3, 3000)
GO
SET IDENTITY_INSERT [dbo].[Estiramiento] ON 

INSERT [dbo].[Estiramiento] ([IdEstiramiento], [DescripcionEstiramiento]) VALUES (1, N'Estiramiento de isquiotibiales (tocarse la punta de los pies)')
INSERT [dbo].[Estiramiento] ([IdEstiramiento], [DescripcionEstiramiento]) VALUES (2, N'Estiramiento de cuádriceps (llevar el talón al glúteo)')
INSERT [dbo].[Estiramiento] ([IdEstiramiento], [DescripcionEstiramiento]) VALUES (3, N'Estiramiento de hombros (cruzar el brazo sobre el pecho)')
SET IDENTITY_INSERT [dbo].[Estiramiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Gimnasio] ON 

SET IDENTITY_INSERT [dbo].[Gimnasio] OFF
GO
SET IDENTITY_INSERT [dbo].[Grupo] ON 

INSERT [dbo].[Grupo] ([IdGrupo], [NombreMenu], [Descripcion]) VALUES (1, N'menuGestionarGimnasio', N'Permite la gestión completa del gimnasio, incluyendo usuarios, máquinas y equipamientos, además de la visualización y administración de turnos.')
INSERT [dbo].[Grupo] ([IdGrupo], [NombreMenu], [Descripcion]) VALUES (2, N'menuGestionarRutinas', N'Permite gestionar las rutinas de los socios del gimnasio, incluyendo su asignación y modificación.')
INSERT [dbo].[Grupo] ([IdGrupo], [NombreMenu], [Descripcion]) VALUES (3, N'menuSocios', N'Permite gestionar la lista de socios del gimnasio, incluyendo su registro, modificación y eliminación, así como la consulta de sus datos y estado de membresía.')
SET IDENTITY_INSERT [dbo].[Grupo] OFF
GO
SET IDENTITY_INSERT [dbo].[Historial_Calentamiento] ON 

INSERT [dbo].[Historial_Calentamiento] ([IdHistorialCalentamiento], [IdHistorial], [IdCalentamiento], [Duracion]) VALUES (1, 1, 1, 5)
INSERT [dbo].[Historial_Calentamiento] ([IdHistorialCalentamiento], [IdHistorial], [IdCalentamiento], [Duracion]) VALUES (2, 2, 1, 5)
INSERT [dbo].[Historial_Calentamiento] ([IdHistorialCalentamiento], [IdHistorial], [IdCalentamiento], [Duracion]) VALUES (3, 2, 3, 5)
SET IDENTITY_INSERT [dbo].[Historial_Calentamiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Historial_Entrenamiento] ON 

INSERT [dbo].[Historial_Entrenamiento] ([IdHistorialEntrenamiento], [IdHistorial], [IdElementoGimnasio], [Series], [Repeticiones], [Peso]) VALUES (1, 1, 21, 5, 25, 30)
INSERT [dbo].[Historial_Entrenamiento] ([IdHistorialEntrenamiento], [IdHistorial], [IdElementoGimnasio], [Series], [Repeticiones], [Peso]) VALUES (2, 2, 21, 5, 25, 60)
INSERT [dbo].[Historial_Entrenamiento] ([IdHistorialEntrenamiento], [IdHistorial], [IdElementoGimnasio], [Series], [Repeticiones], [Peso]) VALUES (3, 2, 8, 2, 15, 20)
SET IDENTITY_INSERT [dbo].[Historial_Entrenamiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Historial_Estiramiento] ON 

INSERT [dbo].[Historial_Estiramiento] ([IdHistorialEstiramiento], [IdHistorial], [IdEstiramiento], [Duracion]) VALUES (1, 1, 7, 2)
INSERT [dbo].[Historial_Estiramiento] ([IdHistorialEstiramiento], [IdHistorial], [IdEstiramiento], [Duracion]) VALUES (2, 2, 7, 1)
INSERT [dbo].[Historial_Estiramiento] ([IdHistorialEstiramiento], [IdHistorial], [IdEstiramiento], [Duracion]) VALUES (3, 2, 9, 1)
SET IDENTITY_INSERT [dbo].[Historial_Estiramiento] OFF
GO
SET IDENTITY_INSERT [dbo].[HistorialRutina] ON 

INSERT [dbo].[HistorialRutina] ([IdHistorial], [IdSocio], [Dia], [FechaRegistro]) VALUES (1, 13, N'Miércoles', CAST(N'2025-04-01T22:29:52.767' AS DateTime))
INSERT [dbo].[HistorialRutina] ([IdHistorial], [IdSocio], [Dia], [FechaRegistro]) VALUES (2, 13, N'Miércoles', CAST(N'2025-04-01T22:35:17.570' AS DateTime))
INSERT [dbo].[HistorialRutina] ([IdHistorial], [IdSocio], [Dia], [FechaRegistro]) VALUES (3, 13, N'Miércoles', CAST(N'2025-04-02T14:33:04.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[HistorialRutina] OFF
GO
INSERT [dbo].[Maquina] ([IdElemento], [FechaFabricacion], [FechaCompra], [Precio], [Peso], [EsElectrica]) VALUES (11, CAST(N'2023-01-10' AS Date), CAST(N'2023-02-15' AS Date), 35000, 100, 0)
INSERT [dbo].[Maquina] ([IdElemento], [FechaFabricacion], [FechaCompra], [Precio], [Peso], [EsElectrica]) VALUES (12, CAST(N'2022-12-05' AS Date), CAST(N'2023-03-10' AS Date), 28000, 90, 0)
INSERT [dbo].[Maquina] ([IdElemento], [FechaFabricacion], [FechaCompra], [Precio], [Peso], [EsElectrica]) VALUES (13, CAST(N'2024-01-20' AS Date), CAST(N'2024-02-15' AS Date), 25000, 85, 1)
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([IdPermiso], [IdRol], [FechaRegistro], [IdGrupo], [IdAccion], [IdUsuario]) VALUES (4, 2, CAST(N'2025-03-01T01:55:26.467' AS DateTime), 3, NULL, NULL)
INSERT [dbo].[Permiso] ([IdPermiso], [IdRol], [FechaRegistro], [IdGrupo], [IdAccion], [IdUsuario]) VALUES (5, 3, CAST(N'2025-03-01T01:55:26.467' AS DateTime), 2, NULL, NULL)
INSERT [dbo].[Permiso] ([IdPermiso], [IdRol], [FechaRegistro], [IdGrupo], [IdAccion], [IdUsuario]) VALUES (22, 6, CAST(N'2025-03-13T16:39:17.290' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[RangoHorario] ON 

INSERT [dbo].[RangoHorario] ([IdRangoHorario], [HoraDesde], [HoraHasta], [Fecha], [CupoActual], [CupoMaximo], [Activo], [SoloSabado]) VALUES (1, CAST(N'00:00:00' AS Time), CAST(N'01:00:00' AS Time), CAST(N'2025-03-05' AS Date), 0, 27, 0, 0)
INSERT [dbo].[RangoHorario] ([IdRangoHorario], [HoraDesde], [HoraHasta], [Fecha], [CupoActual], [CupoMaximo], [Activo], [SoloSabado]) VALUES (2, CAST(N'01:00:00' AS Time), CAST(N'02:00:00' AS Time), CAST(N'2025-03-05' AS Date), 0, 5, 0, 0)
INSERT [dbo].[RangoHorario] ([IdRangoHorario], [HoraDesde], [HoraHasta], [Fecha], [CupoActual], [CupoMaximo], [Activo], [SoloSabado]) VALUES (3, CAST(N'02:00:00' AS Time), CAST(N'03:00:00' AS Time), CAST(N'2025-03-05' AS Date), 0, 5, 0, 0)
SET IDENTITY_INSERT [dbo].[RangoHorario] OFF
GO
INSERT [dbo].[RangoHorario_Usuario] ([IdRangoHorario], [IdUsuario]) VALUES (1, 3)
INSERT [dbo].[RangoHorario_Usuario] ([IdRangoHorario], [IdUsuario]) VALUES (1, 10)
INSERT [dbo].[RangoHorario_Usuario] ([IdRangoHorario], [IdUsuario]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Descripcion], [FechaRegistro]) VALUES (1, N'ADMIN', CAST(N'2025-02-28T16:38:06.013' AS DateTime))
INSERT [dbo].[Rol] ([IdRol], [Descripcion], [FechaRegistro]) VALUES (2, N'ASISTENTE', CAST(N'2025-02-28T16:38:06.013' AS DateTime))
INSERT [dbo].[Rol] ([IdRol], [Descripcion], [FechaRegistro]) VALUES (3, N'ENTRENADOR', CAST(N'2025-02-28T16:38:06.013' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Rutina] ON 

INSERT [dbo].[Rutina] ([IdRutina], [IdSocio], [FechaModificacion], [Dia], [Activa]) VALUES (1, 1, CAST(N'2025-04-07' AS Date), N'Lunes', 1)
INSERT [dbo].[Rutina] ([IdRutina], [IdSocio], [FechaModificacion], [Dia], [Activa]) VALUES (2, 1, CAST(N'2025-04-07' AS Date), N'Miércoles', 1)
INSERT [dbo].[Rutina] ([IdRutina], [IdSocio], [FechaModificacion], [Dia], [Activa]) VALUES (3, 1, CAST(N'2025-04-07' AS Date), N'Viernes', 1)
SET IDENTITY_INSERT [dbo].[Rutina] OFF
GO
INSERT [dbo].[Rutina_Calentamiento] ([IdRutina], [IdCalentamiento], [Duracion]) VALUES (8, 5, 1)
INSERT [dbo].[Rutina_Calentamiento] ([IdRutina], [IdCalentamiento], [Duracion]) VALUES (12, 5, 10)
INSERT [dbo].[Rutina_Calentamiento] ([IdRutina], [IdCalentamiento], [Duracion]) VALUES (13, 1, 10)
GO
INSERT [dbo].[Rutina_Estiramiento] ([IdRutina], [IdEstiramiento], [Duracion]) VALUES (12, 9, 2)
INSERT [dbo].[Rutina_Estiramiento] ([IdRutina], [IdEstiramiento], [Duracion]) VALUES (13, 3, 7)
INSERT [dbo].[Rutina_Estiramiento] ([IdRutina], [IdEstiramiento], [Duracion]) VALUES (14, 2, 10)
GO
SET IDENTITY_INSERT [dbo].[Socio] ON 

INSERT [dbo].[Socio] ([IdSocio], [NombreYApellido], [FechaNacimiento], [Genero], [NroDocumento], [Ciudad], [Direccion], [Telefono], [Email], [ObraSocial], [Plan], [EstadoSocio], [FechaInicioActividades], [FechaFinActividades], [FechaNotificacion], [RespuestaNotificacion]) VALUES (1, N'Camila Socia', CAST(N'2006-07-01' AS Date), N'Femenino', 70958602, N'Rosario', N'Mitre 386', N'341586842', N'CamilaSocia@gmail.com', N'OSDE', N'Mensual', N'Actualizado', CAST(N'2025-03-06' AS Date), CAST(N'2025-06-06' AS Date), CAST(N'2025-07-05' AS Date), NULL)
INSERT [dbo].[Socio] ([IdSocio], [NombreYApellido], [FechaNacimiento], [Genero], [NroDocumento], [Ciudad], [Direccion], [Telefono], [Email], [ObraSocial], [Plan], [EstadoSocio], [FechaInicioActividades], [FechaFinActividades], [FechaNotificacion], [RespuestaNotificacion]) VALUES (8, N'Roro Pirrorro', CAST(N'1988-12-27' AS Date), N'Masculino', 25968503, N'San Invencion', N'Fantasia 131', N'0245145764', N'Roro_Pirrorro@gmail.com', N'OSDE', N'Mensual', N'Nuevo', CAST(N'2025-03-19' AS Date), CAST(N'2025-04-18' AS Date), CAST(N'2025-04-17' AS Date), NULL)
INSERT [dbo].[Socio] ([IdSocio], [NombreYApellido], [FechaNacimiento], [Genero], [NroDocumento], [Ciudad], [Direccion], [Telefono], [Email], [ObraSocial], [Plan], [EstadoSocio], [FechaInicioActividades], [FechaFinActividades], [FechaNotificacion], [RespuestaNotificacion]) VALUES (9, N'Liliana Aire', CAST(N'1988-12-27' AS Date), N'Femenino', 15696103, N'San Ventilador', N'Aires 565', N'0425485966', N'Liliana88@hotmail.com', N'Galeno', N'Anual', N'Actualizado', CAST(N'2025-03-19' AS Date), CAST(N'2026-03-19' AS Date), CAST(N'2026-03-18' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Socio] OFF
GO
SET IDENTITY_INSERT [dbo].[Turno] ON 

INSERT [dbo].[Turno] ([IdTurno], [IdRangoHorario], [IdUsuario], [IdSocio], [FechaTurno], [EstadoTurno], [CodigoIngreso]) VALUES (1, 15, 3, 1, CAST(N'2025-03-12' AS Date), N'Cancelado', N'2LSE')
INSERT [dbo].[Turno] ([IdTurno], [IdRangoHorario], [IdUsuario], [IdSocio], [FechaTurno], [EstadoTurno], [CodigoIngreso]) VALUES (2, 1, 3, 1, CAST(N'2025-03-11' AS Date), N'Finalizado', N'7A1K')
INSERT [dbo].[Turno] ([IdTurno], [IdRangoHorario], [IdUsuario], [IdSocio], [FechaTurno], [EstadoTurno], [CodigoIngreso]) VALUES (10, 15, 3, 1, CAST(N'2025-03-18' AS Date), N'Cancelado', N'JU7X')
SET IDENTITY_INSERT [dbo].[Turno] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [NombreYApellido], [Email], [Telefono], [Direccion], [Ciudad], [NroDocumento], [Genero], [FechaNacimiento], [NombreUsuario], [Clave], [IdRol], [Estado], [FechaRegistro]) VALUES (1, N'Nico Di Domenico', N'NicoDiDomenico@gmail.com', N'03476649542', N'Av. Principal 1234', N'Ciudad Ejemplo', 39686403, N'Masculino', CAST(N'1980-05-16T08:30:00.000' AS DateTime), N'adm', N'123', 1, 1, CAST(N'2025-02-28T16:40:42.207' AS DateTime))
INSERT [dbo].[Usuario] ([IdUsuario], [NombreYApellido], [Email], [Telefono], [Direccion], [Ciudad], [NroDocumento], [Genero], [FechaNacimiento], [NombreUsuario], [Clave], [IdRol], [Estado], [FechaRegistro]) VALUES (2, N'Juan Pérez', N'juan.perez@example.com', N'987654321', N'Calle Secundaria 456', N'Ciudad Ejemplo', 87654321, N'Masculino', CAST(N'1990-08-20T14:45:00.000' AS DateTime), N'asi', N'123', 2, 1, CAST(N'2025-02-28T16:40:42.207' AS DateTime))
INSERT [dbo].[Usuario] ([IdUsuario], [NombreYApellido], [Email], [Telefono], [Direccion], [Ciudad], [NroDocumento], [Genero], [FechaNacimiento], [NombreUsuario], [Clave], [IdRol], [Estado], [FechaRegistro]) VALUES (3, N'María López', N'maria.lopez@example.com', N'555111222', N'Avenida Fitness 789', N'Ciudad Deportiva', 13579246, N'Femenino', CAST(N'1985-12-10T19:15:00.000' AS DateTime), N'ent', N'123', 3, 1, CAST(N'2025-02-28T16:40:42.207' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Grupo__BC363B343C2EE72E]    Script Date: 7/4/2025 16:41:44 ******/
ALTER TABLE [dbo].[Grupo] ADD UNIQUE NONCLUSTERED 
(
	[NombreMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Socio__CC62C91D4BF7F479]    Script Date: 7/4/2025 16:41:44 ******/
ALTER TABLE [dbo].[Socio] ADD UNIQUE NONCLUSTERED 
(
	[NroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CodigoIngreso]    Script Date: 7/4/2025 16:41:44 ******/
ALTER TABLE [dbo].[Turno] ADD  CONSTRAINT [UQ_CodigoIngreso] UNIQUE NONCLUSTERED 
(
	[CodigoIngreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__A9D10534B4885993]    Script Date: 7/4/2025 16:41:44 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Usuario__CC62C91D34513381]    Script Date: 7/4/2025 16:41:44 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[NroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CupoFecha] ADD  DEFAULT ((0)) FOR [CupoActual]
GO
ALTER TABLE [dbo].[Entrenamiento] ADD  DEFAULT ((0)) FOR [Peso]
GO
ALTER TABLE [dbo].[HistorialRutina] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Permiso] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[RangoHorario] ADD  DEFAULT ((0)) FOR [CupoActual]
GO
ALTER TABLE [dbo].[RangoHorario] ADD  DEFAULT ((0)) FOR [CupoMaximo]
GO
ALTER TABLE [dbo].[RangoHorario] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[RangoHorario] ADD  DEFAULT ((0)) FOR [SoloSabado]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Rutina] ADD  DEFAULT ((0)) FOR [Activa]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Accion]  WITH CHECK ADD  CONSTRAINT [FK_Accion_Grupo] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupo] ([IdGrupo])
GO
ALTER TABLE [dbo].[Accion] CHECK CONSTRAINT [FK_Accion_Grupo]
GO
ALTER TABLE [dbo].[Calentamiento]  WITH CHECK ADD FOREIGN KEY([IdMaquina])
REFERENCES [dbo].[Maquina] ([IdElemento])
GO
ALTER TABLE [dbo].[CupoFecha]  WITH CHECK ADD FOREIGN KEY([IdRangoHorario])
REFERENCES [dbo].[RangoHorario] ([IdRangoHorario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ejercicio]  WITH CHECK ADD FOREIGN KEY([IdElemento])
REFERENCES [dbo].[ElementoGimnasio] ([IdElemento])
GO
ALTER TABLE [dbo].[Entrenamiento]  WITH CHECK ADD FOREIGN KEY([IdElementoGimnasio])
REFERENCES [dbo].[ElementoGimnasio] ([IdElemento])
GO
ALTER TABLE [dbo].[Entrenamiento]  WITH CHECK ADD FOREIGN KEY([IdRutina])
REFERENCES [dbo].[Rutina] ([IdRutina])
GO
ALTER TABLE [dbo].[Equipamiento]  WITH CHECK ADD FOREIGN KEY([IdElemento])
REFERENCES [dbo].[ElementoGimnasio] ([IdElemento])
GO
ALTER TABLE [dbo].[Historial_Calentamiento]  WITH CHECK ADD FOREIGN KEY([IdHistorial])
REFERENCES [dbo].[HistorialRutina] ([IdHistorial])
GO
ALTER TABLE [dbo].[Historial_Entrenamiento]  WITH CHECK ADD FOREIGN KEY([IdHistorial])
REFERENCES [dbo].[HistorialRutina] ([IdHistorial])
GO
ALTER TABLE [dbo].[Historial_Estiramiento]  WITH CHECK ADD FOREIGN KEY([IdHistorial])
REFERENCES [dbo].[HistorialRutina] ([IdHistorial])
GO
ALTER TABLE [dbo].[Maquina]  WITH CHECK ADD FOREIGN KEY([IdElemento])
REFERENCES [dbo].[ElementoGimnasio] ([IdElemento])
GO
ALTER TABLE [dbo].[Permiso]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Accion] FOREIGN KEY([IdAccion])
REFERENCES [dbo].[Accion] ([IdAccion])
GO
ALTER TABLE [dbo].[Permiso] CHECK CONSTRAINT [FK_Permiso_Accion]
GO
ALTER TABLE [dbo].[Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Grupo] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupo] ([IdGrupo])
GO
ALTER TABLE [dbo].[Permiso] CHECK CONSTRAINT [FK_Permiso_Grupo]
GO
ALTER TABLE [dbo].[Permiso]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Permiso] CHECK CONSTRAINT [FK_Permiso_Usuario]
GO
ALTER TABLE [dbo].[RangoHorario_Usuario]  WITH CHECK ADD FOREIGN KEY([IdRangoHorario])
REFERENCES [dbo].[RangoHorario] ([IdRangoHorario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RangoHorario_Usuario]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [FK_Rutina_Socio] FOREIGN KEY([IdSocio])
REFERENCES [dbo].[Socio] ([IdSocio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [FK_Rutina_Socio]
GO
ALTER TABLE [dbo].[Rutina_Calentamiento]  WITH CHECK ADD FOREIGN KEY([IdCalentamiento])
REFERENCES [dbo].[Calentamiento] ([IdCalentamiento])
GO
ALTER TABLE [dbo].[Rutina_Calentamiento]  WITH CHECK ADD FOREIGN KEY([IdRutina])
REFERENCES [dbo].[Rutina] ([IdRutina])
GO
ALTER TABLE [dbo].[Rutina_Estiramiento]  WITH CHECK ADD FOREIGN KEY([IdEstiramiento])
REFERENCES [dbo].[Estiramiento] ([IdEstiramiento])
GO
ALTER TABLE [dbo].[Rutina_Estiramiento]  WITH CHECK ADD FOREIGN KEY([IdRutina])
REFERENCES [dbo].[Rutina] ([IdRutina])
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_RangoHorarioUsuario] FOREIGN KEY([IdRangoHorario], [IdUsuario])
REFERENCES [dbo].[RangoHorario_Usuario] ([IdRangoHorario], [IdUsuario])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_RangoHorarioUsuario]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Socio] FOREIGN KEY([IdSocio])
REFERENCES [dbo].[Socio] ([IdSocio])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Socio]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZARROL]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZARROL](
    @IdRol INT,  -- Identifica qué rol actualizar
    @Descripcion VARCHAR(50),  -- Nueva descripción del rol
    @IdGrupo INT,  -- Grupo asociado al rol
    @DescripcionGrupo VARCHAR(255),  -- Nueva descripción del grupo
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado BIT OUTPUT  -- Indica éxito o error
)
AS
BEGIN
    BEGIN TRY
        SET @Mensaje = ''
        SET @Resultado = 0  -- Por defecto, fallido

        BEGIN TRANSACTION  -- Iniciar transacción para evitar inconsistencias

        -- Verifica si el rol existe
        IF EXISTS (SELECT 1 FROM Rol WHERE IdRol = @IdRol)
        BEGIN
            -- Actualizar la descripción del rol
            UPDATE Rol 
            SET Descripcion = @Descripcion 
            WHERE IdRol = @IdRol;

            -- Verifica si el grupo existe
            IF EXISTS (SELECT 1 FROM Grupo WHERE IdGrupo = @IdGrupo)
            BEGIN
                -- Actualizar la descripción del grupo
                UPDATE Grupo 
                SET Descripcion = @DescripcionGrupo 
                WHERE IdGrupo = @IdGrupo;
            END
            ELSE
            BEGIN
                SET @Mensaje = 'El grupo especificado no existe.'
                ROLLBACK TRANSACTION  -- Revertir cambios en caso de error
                RETURN;
            END

            -- Si todo está bien, marcar como éxito
            SET @Resultado = 1
            SET @Mensaje = 'Rol y grupo actualizados correctamente'
            COMMIT TRANSACTION  -- Confirmar los cambios
        END
        ELSE
        BEGIN
            SET @Mensaje = 'El rol especificado no existe.'
            ROLLBACK TRANSACTION  -- Revertir cambios en caso de error
        END
    END TRY
    BEGIN CATCH
        SET @Mensaje = ERROR_MESSAGE()
        SET @Resultado = 0
        ROLLBACK TRANSACTION -- Revertir cambios si hay error
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarSocio]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarSocio]
(
    @IdSocio INT,
    @NombreYApellido VARCHAR(100),
    @FechaNacimiento DATE,
    @Genero VARCHAR(50),
    @NroDocumento INT,
    @Ciudad VARCHAR(50),
    @Direccion VARCHAR(50),
    @Telefono VARCHAR(50),
    @Email VARCHAR(50),
    @ObraSocial VARCHAR(50),
    @Plan VARCHAR(50),
    @EstadoSocio VARCHAR(50),
    @FechaInicioActividades DATE NULL,
    @FechaFinActividades DATE NULL,
    @FechaNotificacion DATE NULL,
    @RespuestaNotificacion BIT NULL,
    @Rutinas ETabla_Rutinas READONLY,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    BEGIN TRY
        SET @Mensaje = '';

        BEGIN TRANSACTION;

        -- Actualizar datos del socio
        UPDATE Socio
        SET NombreYApellido = @NombreYApellido,
            FechaNacimiento = @FechaNacimiento,
            Genero = @Genero,
            NroDocumento = @NroDocumento,
            Ciudad = @Ciudad,
            Direccion = @Direccion,
            Telefono = @Telefono,
            Email = @Email,
            ObraSocial = @ObraSocial,
            [Plan] = @Plan,
            EstadoSocio = @EstadoSocio,
            FechaInicioActividades = @FechaInicioActividades,
            FechaFinActividades = @FechaFinActividades,
            FechaNotificacion = @FechaNotificacion,
            RespuestaNotificacion = @RespuestaNotificacion
        WHERE IdSocio = @IdSocio;

        -- Desactivar rutinas no seleccionadas
        UPDATE Rutina
        SET Activa = 0
        WHERE IdSocio = @IdSocio AND Dia NOT IN (SELECT Dia FROM @Rutinas);

        -- Activar rutinas seleccionadas
        UPDATE Rutina
        SET Activa = 1, FechaModificacion = GETDATE()
        WHERE IdSocio = @IdSocio AND Dia IN (SELECT Dia FROM @Rutinas);

        COMMIT TRANSACTION;
        SET @Mensaje = 'Socio actualizado correctamente con sus nuevos días de asistencia.';
    END TRY
    BEGIN CATCH
        SET @Mensaje = ERROR_MESSAGE();
        ROLLBACK TRANSACTION;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_EDITARUSUARIO]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_EDITARUSUARIO](
	@IdUsuario int,
	@NombreUsuario VARCHAR(50),
    @NombreYApellido VARCHAR(100),
    @Email VARCHAR(100),
    @Telefono VARCHAR(50),
    @Direccion VARCHAR(100),
    @Ciudad VARCHAR(50),
    @NroDocumento INT,
    @Genero VARCHAR(50),
    @FechaNacimiento DATETIME,
    @Clave VARCHAR(100),
    @IdRol INT,
    @Estado BIT,
	@Respuesta bit output,
	@Mensaje varchar(500) output
)
as
begin
	set @Respuesta = 0
	set @Mensaje = ''


	if not exists(select * from Usuario where NroDocumento = @NroDocumento and idusuario != @IdUsuario)
	begin
		update  Usuario set
		NombreYApellido = @NombreYApellido,
		Email = @Email,
		Telefono = @Telefono,
		Direccion = @Direccion,
		Ciudad = @Ciudad,
		NroDocumento = @NroDocumento,
		Genero = @Genero,
		FechaNacimiento = @FechaNacimiento,
		NombreUsuario = @NombreUsuario,
		Clave = @Clave,
		IdRol = @IdRol,
		Estado = @Estado
		where IdUsuario = @IdUsuario

		set @Respuesta = 1
		SET @Mensaje = 'Usuario actualizado correctamente' 
	end
	else
		set @Mensaje = 'No se puede repetir el documento para más de un usuario'
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARROL]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ELIMINARROL] (
    @IdRol INT,
    @Respuesta BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    BEGIN TRY
        SET @Respuesta = 0
        SET @Mensaje = ''
        DECLARE @pasoreglas BIT = 1

        -- Evita eliminar roles protegidos
        IF @IdRol IN (1, 2, 3)
        BEGIN
            SET @pasoreglas = 0
            SET @Mensaje = 'No se puede eliminar este rol'
        END

        -- Verifica si el rol está en uso en otras tablas (ejemplo: Usuario)
        IF EXISTS (SELECT * FROM Usuario WHERE IdRol = @IdRol)
        BEGIN
            SET @pasoreglas = 0
            SET @Mensaje = 'No se puede eliminar este rol porque está en uso en la tabla Usuario'
        END

        IF @pasoreglas = 1
        BEGIN
            BEGIN TRANSACTION

            -- Eliminar los permisos asociados al rol
            DELETE FROM Permiso WHERE IdRol = @IdRol

            -- Eliminar el rol
            DELETE FROM Rol WHERE IdRol = @IdRol

            SET @Respuesta = 1
            SET @Mensaje = 'Rol eliminado correctamente'

            COMMIT TRANSACTION
        END
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        SET @Respuesta = 0
        SET @Mensaje = ERROR_MESSAGE()
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARSOCIO]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINARSOCIO]
    @IdSocio INT,
    @Respuesta BIT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET @Respuesta = 0;
    SET @Mensaje = '';

    DECLARE @FechaFinActividades DATE;

    -- Obtener la FechaFinActividades del socio
    SELECT @FechaFinActividades = FechaFinActividades 
    FROM Socio 
    WHERE IdSocio = @IdSocio;

    -- Verificar si la fecha de fin de actividades aún no ha vencido
    IF @FechaFinActividades > GETDATE()
    BEGIN
        SET @Mensaje = 'No se puede eliminar el socio porque su cuota aún está vigente.';
        RETURN;
    END

    -- Verificar si el socio tiene turnos en curso
    IF EXISTS (SELECT 1 FROM Turno WHERE IdSocio = @IdSocio AND EstadoTurno = 'En Curso')
    BEGIN
        SET @Mensaje = 'No se puede eliminar el socio porque tiene turnos en curso.';
        RETURN;
    END

    -- Iniciar la transacción
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Eliminar relaciones hijas manualmente
        DELETE FROM Rutina_Calentamiento WHERE IdRutina IN (SELECT IdRutina FROM Rutina WHERE IdSocio = @IdSocio);
        DELETE FROM Rutina_Estiramiento  WHERE IdRutina IN (SELECT IdRutina FROM Rutina WHERE IdSocio = @IdSocio);
        DELETE FROM Entrenamiento        WHERE IdRutina IN (SELECT IdRutina FROM Rutina WHERE IdSocio = @IdSocio);

        -- Eliminar rutinas
        DELETE FROM Rutina WHERE IdSocio = @IdSocio;

        -- Eliminar los turnos asociados al socio
        DELETE FROM Turno WHERE IdSocio = @IdSocio;

        -- Eliminar el socio
        DELETE FROM Socio WHERE IdSocio = @IdSocio;

        -- Confirmar la transacción si todo se ejecutó sin errores
        COMMIT TRANSACTION;

        SET @Respuesta = 1;
        SET @Mensaje = 'Socio eliminado correctamente junto con sus rutinas y turnos.';
    END TRY
    BEGIN CATCH
        -- Si hay un error, revertir la transacción
        ROLLBACK TRANSACTION;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARTURNO]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ELIMINARTURNO]
    @IdTurno INT,
    @IdRangoHorario INT,
    @FechaTurno DATE,
    @Respuesta INT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @EstadoTurno VARCHAR(50);

    -- Verificar si el turno existe y obtener su estado
    IF NOT EXISTS (SELECT 1 FROM Turno WHERE IdTurno = @IdTurno)
    BEGIN
        SET @Respuesta = 0;
        SET @Mensaje = 'Error: El turno no existe.';
        RETURN;
    END

    -- Obtener el EstadoTurno del turno
    SELECT @EstadoTurno = EstadoTurno
    FROM Turno 
    WHERE IdTurno = @IdTurno;

    BEGIN TRANSACTION;
    BEGIN TRY
        -- Eliminar el turno
        DELETE FROM Turno WHERE IdTurno = @IdTurno;

        -- Verificar si existe un registro en CupoFecha para la fecha y el rango horario
        IF EXISTS (
            SELECT 1 FROM CupoFecha 
            WHERE IdRangoHorario = @IdRangoHorario AND Fecha = @FechaTurno
        )
        BEGIN
            -- Restar 1 al CupoActual en CupoFecha si hay cupos registrados
            UPDATE CupoFecha
            SET CupoActual = CASE 
                                WHEN CupoActual > 0 THEN CupoActual - 1 
                                ELSE 0 
                             END
            WHERE IdRangoHorario = @IdRangoHorario 
              AND Fecha = @FechaTurno;
        END

        COMMIT TRANSACTION;

        SET @Respuesta = 1;
        SET @Mensaje = 'Turno eliminado correctamente.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Respuesta = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINARUSUARIO]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ELIMINARUSUARIO](
    @IdUsuario int,
    @Respuesta bit output,
    @Mensaje varchar(500) output
)
AS
BEGIN
    SET @Respuesta = 0
    SET @Mensaje = ''
    DECLARE @pasoreglas bit = 1

    -- Validaciones (agregar aquí las que necesites, por ejemplo, turnos asignados, rangos horarios, etc.)

    IF (@pasoreglas = 1)
    BEGIN
        -- Eliminar los permisos del usuario en la tabla Permiso
        DELETE FROM PERMISO WHERE IdUsuario = @IdUsuario

        -- Eliminar el usuario de la tabla Usuario
        DELETE FROM USUARIO WHERE IdUsuario = @IdUsuario

        SET @Respuesta = 1
        SET @Mensaje = 'Usuario eliminado correctamente junto con sus permisos'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarEntrenadoresDisponibles]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarEntrenadoresDisponibles]
    @IdRangoHorario INT,
    @FechaTurno DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT 
        rh_u.IdUsuario, 
        u.NombreYApellido, 
        rh.CupoMaximo, 
        COALESCE(cf.CupoActual, 0) AS CupoActual -- Si no hay registros en CupoFecha, se considera como 0
    FROM RangoHorario rh
    INNER JOIN RangoHorario_Usuario rh_u 
        ON rh.IdRangoHorario = rh_u.IdRangoHorario
    INNER JOIN Usuario u 
        ON rh_u.IdUsuario = u.IdUsuario
    LEFT JOIN CupoFecha cf 
        ON cf.IdRangoHorario = rh.IdRangoHorario 
        AND cf.Fecha = @FechaTurno -- Se filtra por fecha específica
    WHERE COALESCE(cf.CupoActual, 0) < rh.CupoMaximo
    AND rh.IdRangoHorario = @IdRangoHorario;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICARACCION]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MODIFICARACCION](
    @IdAccion INT,               -- Identificador de la acción a modificar
    @NombreAccion VARCHAR(100),  -- Nuevo nombre de la acción
    @Descripcion VARCHAR(255),   -- Nueva descripción
    @IdGrupo INT,                -- Nuevo ID de grupo asociado
    @Resultado BIT OUTPUT,       -- Indica éxito (1) o fallo (0)
    @Mensaje VARCHAR(500) OUTPUT -- Mensaje de confirmación o error
)
AS
BEGIN
    BEGIN TRY
        -- Inicialización de variables de salida
        SET @Mensaje = ''
        SET @Resultado = 0

        -- Verificar si la acción existe
        IF NOT EXISTS (SELECT 1 FROM Accion WHERE IdAccion = @IdAccion)
        BEGIN
            SET @Mensaje = 'La acción especificada no existe.'
            RETURN
        END

        -- Actualizar la acción en la tabla Accion
        UPDATE Accion
        SET NombreAccion = @NombreAccion,
            Descripcion = @Descripcion,
            IdGrupo = @IdGrupo
        WHERE IdAccion = @IdAccion;

        -- Si se actualiza correctamente
        SET @Resultado = 1
        SET @Mensaje = 'Acción actualizada correctamente.'
    END TRY
    BEGIN CATCH
        -- Captura de errores y rollback en caso de falla
        SET @Mensaje = ERROR_MESSAGE()
        SET @Resultado = 0
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_RANGOHORARIO]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_REGISTRAR_RANGOHORARIO]
    @HoraDesde TIME,
    @HoraHasta TIME,
    @Fecha DATE,
    @CupoMaximo INT,
    @IdUsuario INT,
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado BIT OUTPUT
AS
BEGIN
    BEGIN TRY
        DECLARE @IdRangoHorario INT;
        SET @Mensaje = '';
        SET @Resultado = 0;

        BEGIN TRANSACTION;

        -- Insertar el nuevo RangoHorario
        INSERT INTO RangoHorario (HoraDesde, HoraHasta, Fecha, CupoMaximo)
        VALUES (@HoraDesde, @HoraHasta, @Fecha, @CupoMaximo);

        -- Obtener el ID generado
        SET @IdRangoHorario = SCOPE_IDENTITY();

        -- Insertar en la tabla relacional
        INSERT INTO RangoHorario_Usuario (IdRangoHorario, IdUsuario)
        VALUES (@IdRangoHorario, @IdUsuario);

        SET @Resultado = 1;
        SET @Mensaje = 'Rango horario registrado correctamente.';

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        SET @Mensaje = ERROR_MESSAGE();
        SET @Resultado = 0;
        ROLLBACK TRANSACTION;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_RANGOHORARIO_USUARIO]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_REGISTRAR_RANGOHORARIO_USUARIO]
    @IdRangoHorario INT,
    @IdUsuario INT,
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado BIT OUTPUT
AS
BEGIN
    BEGIN TRY
        SET @Mensaje = '';
        SET @Resultado = 0;

        BEGIN TRANSACTION;

        -- Insertar el nuevo RangoHorario
        INSERT INTO RangoHorario_Usuario(IdRangoHorario, IdUsuario)
        VALUES (@IdRangoHorario, @IdUsuario);

        SET @Resultado = 1;
        SET @Mensaje = 'Rango horario registrado correctamente.';

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        SET @Mensaje = ERROR_MESSAGE();
        SET @Resultado = 0;
        ROLLBACK TRANSACTION;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRARROL]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_REGISTRARROL](
    @Descripcion VARCHAR(50),
    @Permisos ETabla_Permisos READONLY, -- Ahora usa el nuevo tipo de tabla
    @Mensaje VARCHAR(500) OUTPUT,
    @Resultado BIT OUTPUT -- Indica éxito o error
)
AS
BEGIN
    BEGIN TRY
        DECLARE @IdRol INT
        SET @Mensaje = ''
        SET @Resultado = 0  -- Por defecto, fallido

        BEGIN TRANSACTION  -- Iniciar transacción para evitar inconsistencias

        -- Verifica si el rol ya existe
        IF NOT EXISTS (SELECT 1 FROM Rol WHERE Descripcion = @Descripcion)
        BEGIN
            -- Insertar el nuevo rol
            INSERT INTO Rol (Descripcion) VALUES (@Descripcion);
            SET @IdRol = SCOPE_IDENTITY();

            -- Insertar los grupos asociados al rol
            INSERT INTO Permiso (IdRol, IdGrupo)
            SELECT @IdRol, IdGrupo FROM @Permisos;

            -- Si todo está bien, marcar como éxito
            SET @Resultado = 1
            SET @Mensaje = 'Rol registrado correctamente'
            COMMIT TRANSACTION  -- Confirmar los cambios
        END
        ELSE
        BEGIN
            SET @Mensaje = 'No se puede tener más de un rol con la misma descripción'
            ROLLBACK TRANSACTION  -- Revertir cambios en caso de error
        END
    END TRY
    BEGIN CATCH
        SET @Mensaje = ERROR_MESSAGE()
        SET @Resultado = 0
        ROLLBACK TRANSACTION -- Revertir cambios si hay error
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarSocio]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RegistrarSocio]
(
    @NombreYApellido VARCHAR(100),
    @FechaNacimiento DATE,
    @Genero VARCHAR(50),
    @NroDocumento INT,
    @Ciudad VARCHAR(50),
    @Direccion VARCHAR(50),
    @Telefono VARCHAR(50),
    @Email VARCHAR(50),
    @ObraSocial VARCHAR(50),
    @Plan VARCHAR(50),
    @EstadoSocio VARCHAR(50),
    @FechaInicioActividades DATE,
    @FechaFinActividades DATE,
    @FechaNotificacion DATE,
    @RespuestaNotificacion BIT,
    @Rutinas ETabla_Rutinas READONLY, -- Lista de rutinas elegidas
    @IdSocio INT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
AS
BEGIN
    BEGIN TRY
        SET @Mensaje = ''
        SET @IdSocio = 0

        BEGIN TRANSACTION

        -- Verificar si ya existe un socio con el mismo documento
        IF EXISTS (SELECT 1 FROM Socio WHERE NroDocumento = @NroDocumento)
        BEGIN
            SET @Mensaje = 'El número de documento ya está registrado.'
            ROLLBACK TRANSACTION
            RETURN
        END

        -- Insertar el socio
        INSERT INTO Socio 
        (NombreYApellido, FechaNacimiento, Genero, NroDocumento, Ciudad, Direccion, Telefono, Email, ObraSocial, [Plan], EstadoSocio, FechaInicioActividades, FechaFinActividades, FechaNotificacion, RespuestaNotificacion)
        VALUES 
        (@NombreYApellido, @FechaNacimiento, @Genero, @NroDocumento, @Ciudad, @Direccion, @Telefono, @Email, @ObraSocial, @Plan, @EstadoSocio, @FechaInicioActividades, @FechaFinActividades, @FechaNotificacion, @RespuestaNotificacion)

        SET @IdSocio = SCOPE_IDENTITY()

        -- Insertar TODAS las rutinas de lunes a sábado, activando solo las seleccionadas
        INSERT INTO Rutina (IdSocio, FechaModificacion, Dia, Activa)
        SELECT @IdSocio, GETDATE(), Dia,
               CASE WHEN Dia IN (SELECT Dia FROM @Rutinas) THEN 1 ELSE 0 END
        FROM (
            SELECT 'Lunes' AS Dia UNION
            SELECT 'Martes' UNION
            SELECT 'Miércoles' UNION
            SELECT 'Jueves' UNION
            SELECT 'Viernes' UNION
            SELECT 'Sábado'
        ) AS DiasSemana

        COMMIT TRANSACTION
        SET @Mensaje = 'Socio registrado exitosamente con sus rutinas.'
    END TRY
    BEGIN CATCH
        SET @Mensaje = ERROR_MESSAGE()
        ROLLBACK TRANSACTION
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRARTURNO]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_REGISTRARTURNO]
    @IdRangoHorario INT,
    @IdUsuario INT,
    @IdSocio INT,
    @FechaTurno DATE,
    @EstadoTurno VARCHAR(50),
    @CodigoIngreso VARCHAR(4),
    @IdTurnoResultado INT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CupoActual INT, @CupoMaximo INT, @EstadoSocio VARCHAR(50);

    -- Obtener el estado del socio
    SELECT @EstadoSocio = EstadoSocio 
    FROM Socio 
    WHERE IdSocio = @IdSocio;

    -- Validar si el socio está Suspendido o Eliminado
    IF @EstadoSocio IN ('Suspendido', 'Eliminado')
    BEGIN
        SET @IdTurnoResultado = 0;
        SET @Mensaje = 'Error: No puede reservar un turno porque el socio está suspendido o eliminado.';
        RETURN;
    END

    -- Validar que la fecha del turno sea hoy o futura
    IF @FechaTurno < CAST(GETDATE() AS DATE)
    BEGIN
        SET @IdTurnoResultado = 0;
        SET @Mensaje = 'Error: No puede reservar un turno para una fecha pasada.';
        RETURN;
    END

    -- Validar que el RangoHorario y el Usuario existan en RangoHorario_Usuario
    IF NOT EXISTS (
        SELECT 1 FROM RangoHorario_Usuario 
        WHERE IdRangoHorario = @IdRangoHorario AND IdUsuario = @IdUsuario
    )
    BEGIN
        SET @IdTurnoResultado = 0;
        SET @Mensaje = 'Error: El Rango Horario y Usuario especificados no existen.';
        RETURN;
    END

    -- Validar que el Socio existe
    IF NOT EXISTS (SELECT 1 FROM Socio WHERE IdSocio = @IdSocio)
    BEGIN
        SET @IdTurnoResultado = 0;
        SET @Mensaje = 'Error: El Socio especificado no existe.';
        RETURN;
    END

    -- Validar que el Socio no tenga otro turno en la misma fecha
    IF EXISTS (
        SELECT 1 FROM Turno 
        WHERE IdSocio = @IdSocio AND FechaTurno = @FechaTurno
    )
    BEGIN
        SET @IdTurnoResultado = 0;
        SET @Mensaje = 'Error: Un socio no puede reservar más de un turno para la misma fecha.';
        RETURN;
    END

    -- Obtener CupoMaximo desde RangoHorario
    SELECT @CupoMaximo = CupoMaximo 
    FROM RangoHorario 
    WHERE IdRangoHorario = @IdRangoHorario;

    -- Verificar si existe un registro en CupoFecha para la fecha dada
    IF NOT EXISTS (
        SELECT 1 FROM CupoFecha 
        WHERE IdRangoHorario = @IdRangoHorario 
          AND Fecha = @FechaTurno
    )
    BEGIN
        -- Si no existe, lo creamos con CupoActual = 0
        INSERT INTO CupoFecha (Fecha, IdRangoHorario, CupoActual)
        VALUES (@FechaTurno, @IdRangoHorario, 0);
    END

    -- Obtener el CupoActual desde CupoFecha
    SELECT @CupoActual = CupoActual 
    FROM CupoFecha 
    WHERE IdRangoHorario = @IdRangoHorario 
      AND Fecha = @FechaTurno;

    -- Validar si hay cupos disponibles
    IF @CupoActual >= @CupoMaximo
    BEGIN
        SET @IdTurnoResultado = 0;
        SET @Mensaje = 'Error: No hay cupos disponibles para este rango horario en esta fecha.';
        RETURN;
    END

    -- Insertar el Turno
    BEGIN TRY
        INSERT INTO Turno (IdRangoHorario, IdUsuario, IdSocio, FechaTurno, EstadoTurno, CodigoIngreso)
        VALUES (@IdRangoHorario, @IdUsuario, @IdSocio, @FechaTurno, @EstadoTurno, @CodigoIngreso);

        -- Obtener el ID del Turno insertado
        SET @IdTurnoResultado = SCOPE_IDENTITY();

        -- Aumentar el CupoActual en CupoFecha (+1)
        UPDATE CupoFecha 
        SET CupoActual = CupoActual + 1 
        WHERE IdRangoHorario = @IdRangoHorario AND Fecha = @FechaTurno;

        -- Mensaje de éxito con el Código de Ingreso generado
        SET @Mensaje = CONCAT('Turno registrado exitosamente. Código de Ingreso: ', @CodigoIngreso);
    END TRY
    BEGIN CATCH
        SET @IdTurnoResultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRARUSUARIO]    Script Date: 7/4/2025 16:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_REGISTRARUSUARIO](
	@NombreUsuario VARCHAR(50),
    @NombreYApellido VARCHAR(100),
    @Email VARCHAR(100),
    @Telefono VARCHAR(50),
    @Direccion VARCHAR(100),
    @Ciudad VARCHAR(50),
    @NroDocumento INT,
    @Genero VARCHAR(50),
    @FechaNacimiento DATETIME,
    @Clave VARCHAR(100),
    @IdRol INT,
    @Estado BIT,
    @IdUsuarioResultado INT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
)
as
begin
	set @IdUsuarioResultado = 0
	set @Mensaje = ''


	if not exists(select * from Usuario where NroDocumento = @NroDocumento)
	begin
		INSERT INTO Usuario (NombreUsuario, NombreYApellido, Email, Telefono, Direccion, Ciudad, NroDocumento, Genero, FechaNacimiento, Clave, IdRol, Estado)  
		VALUES (@NombreUsuario, @NombreYApellido, @Email, @Telefono, @Direccion, @Ciudad, @NroDocumento, @Genero, @FechaNacimiento, @Clave, @IdRol, @Estado);

		set @IdUsuarioResultado = SCOPE_IDENTITY()
		SET @Mensaje = 'Usuario registrado correctamente'
		
	end
	else
		set @Mensaje = 'No se puede repetir el documento para más de un usuario'

end
GO
