@if (Peliculas is null)
{
	<img alt="cargando"
		 src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" />
}
else if (Peliculas.Count == 0)
{
	<p>No hay películas para mostrar.</p>
}
else
{
	@foreach (var pelicula in Peliculas)
	{
		<div>
			<p>
				Título: @((MarkupString)pelicula.Titulo)
				@if ((DateTime.Now.Date - pelicula.FechaLanzamiento.Date).Days <= 14)
				{
					<span style="color: red"><i> New</i></span>
				}
			</p>
			<p>Fecha lanzamiento: <b>@pelicula.FechaLanzamiento.ToString("dd MMM yyyy")</b></p>
		</div>
	}
}

@code {

}
