body{
position: relative; /* Al comentar este y comentar el .container, cada-1 tomara de referencia toda la pantalla, notar como se saltea el padding del body */
top: 20px;
border: solid black 2px;
background-color: bisque;
padding: 20px;
}
/* Entendiendo Position relative y absolute */
.container{
    /* position: relative;  *//*Al comentarlo, .conteiner pasa a no estar posicinado, el elemento de caja-1 pasar a tomar como referencia a body, ya que este se encuentra poscionado*/
    border: solid black 1px;
    background-color: chocolate;
    width: 500px;
    height: 500px;
    padding: 20px;
    margin: 50px;
}

.caja-1{ 
    position: relative;
    background-color: wheat;
    border: black solid 1px;
    width: 500px;
    height: 100px;
    top: 0;
    right: 0;
}

.caja-2{ 
    position: relative;
    background-color: rgb(95, 95, 172);
    border: black solid 1px;
    width: 500px;
    height: 200px;
    top: 0;
}

.caja-3{ 
    position: relative;
    background-color: rgb(204, 92, 92);
    border: black solid 1px;
    width: 500px;
    height: 200px;
}
