.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: bisque;
    border: #000000 1px solid;
    /* width: 1200px; */
    width: auto;
    height: 400px;
    padding: 5px;
}

.item {
     
    background-color: aquamarine;
    border: black 1px solid;
    width: 400px;
    height: 100px;
    text-align: center;
}

.a{
    flex: 0 1 100px;  /* Equivalente a flex-grow: X; flex-shrink: X; flex-basis: XXXXpx; */
}

.b{
    flex: 0 0 100px; 
}

.c{
    flex: 1 5 100px;   
}
