USE [master]
GO
/****** Object:  Database [MindFitIntelligence]    Script Date: 30/3/2026 14:04:02 ******/
CREATE DATABASE [MindFitIntelligence]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MindFitIntelligence', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MindFitIntelligence.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MindFitIntelligence_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MindFitIntelligence_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MindFitIntelligence].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MindFitIntelligence]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calentamiento]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calentamiento](
	[IdCalentamiento] [int] IDENTITY(1,1) NOT NULL,
	[IdRutina] [int] NOT NULL,
	[IdEjercicio] [int] NOT NULL,
	[Duracion] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Observaciones] [varchar](200) NULL,
 CONSTRAINT [PK_Calentamiento] PRIMARY KEY CLUSTERED 
(
	[IdCalentamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuota]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuota](
	[IdCuota] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Plan] [varchar](50) NOT NULL,
	[FechaInicioPeriodo] [date] NOT NULL,
	[FechaFinPeriodo] [date] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[EstadoCuota] [varchar](50) NOT NULL,
	[FechaPago] [date] NULL,
 CONSTRAINT [PK_Cuota] PRIMARY KEY CLUSTERED 
(
	[IdCuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CupoFecha]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CupoFecha](
	[IdCupoFecha] [int] IDENTITY(1,1) NOT NULL,
	[IdDiaRangoHorario] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[CupoActual] [int] NOT NULL,
 CONSTRAINT [PK_CupoFecha] PRIMARY KEY CLUSTERED 
(
	[IdCupoFecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dia]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dia](
	[IdDia] [int] IDENTITY(1,1) NOT NULL,
	[NombreDia] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Dia] PRIMARY KEY CLUSTERED 
(
	[IdDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaRangoHorario]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaRangoHorario](
	[IdDiaRangoHorario] [int] IDENTITY(1,1) NOT NULL,
	[CupoMaximo] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdRangoHorario] [int] NOT NULL,
	[IdDia] [int] NOT NULL,
 CONSTRAINT [PK_DiaRangoHorario] PRIMARY KEY CLUSTERED 
(
	[IdDiaRangoHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaRangoHorarioResponsable]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaRangoHorarioResponsable](
	[IdDiaRangoHorarioResponsable] [int] IDENTITY(1,1) NOT NULL,
	[IdDiaRangoHorario] [int] NOT NULL,
	[IdUsuarioResponsable] [int] NOT NULL,
	[Observaciones] [varchar](255) NULL,
 CONSTRAINT [PK_DiaRangoHorarioResponsable] PRIMARY KEY CLUSTERED 
(
	[IdDiaRangoHorarioResponsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ejercicio]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejercicio](
	[IdEjercicio] [int] IDENTITY(1,1) NOT NULL,
	[DescEjercicio] [varchar](100) NOT NULL,
	[IdGrupoMuscular] [int] NOT NULL,
	[IdTipoEjercicio] [int] NOT NULL,
	[IdMaquina] [int] NULL,
	[IdEquipamiento] [int] NULL,
 CONSTRAINT [PK_Ejercicio] PRIMARY KEY CLUSTERED 
(
	[IdEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entrenamiento]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrenamiento](
	[IdEntrenamiento] [int] IDENTITY(1,1) NOT NULL,
	[IdRutina] [int] NOT NULL,
	[IdEjercicio] [int] NOT NULL,
	[Series] [int] NOT NULL,
	[Repeticiones] [int] NOT NULL,
	[PesoAsignado] [decimal](18, 2) NULL,
	[TiempoDescansoSegundos] [int] NULL,
	[Orden] [int] NOT NULL,
	[Observaciones] [varchar](200) NULL,
 CONSTRAINT [PK_Entrenamiento] PRIMARY KEY CLUSTERED 
(
	[IdEntrenamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipamiento]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipamiento](
	[IdEquipamiento] [int] IDENTITY(1,1) NOT NULL,
	[NombreEquipo] [varchar](50) NOT NULL,
	[CostoAdquisicion] [decimal](18, 2) NOT NULL,
	[PesoFijoKg] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Equipamiento] PRIMARY KEY CLUSTERED 
(
	[IdEquipamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estiramiento]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estiramiento](
	[IdEstiramiento] [int] IDENTITY(1,1) NOT NULL,
	[IdRutina] [int] NOT NULL,
	[IdEjercicio] [int] NOT NULL,
	[Duracion] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Observaciones] [varchar](200) NULL,
 CONSTRAINT [PK_Estiramiento] PRIMARY KEY CLUSTERED 
(
	[IdEstiramiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[IdGrupo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_Grupo] PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoMuscular]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoMuscular](
	[IdGrupoMuscular] [int] IDENTITY(1,1) NOT NULL,
	[NombreMusculo] [varchar](50) NOT NULL,
	[IdMapaAnatomico] [varchar](50) NULL,
 CONSTRAINT [PK_GrupoMuscular] PRIMARY KEY CLUSTERED 
(
	[IdGrupoMuscular] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoPermiso]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoPermiso](
	[IdGrupo] [int] NOT NULL,
	[IdPermiso] [int] NOT NULL,
 CONSTRAINT [PK_GrupoPermiso] PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC,
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maquina]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maquina](
	[IdMaquina] [int] IDENTITY(1,1) NOT NULL,
	[NombreMaquina] [varchar](50) NOT NULL,
	[FechaFabricacion] [datetime2](7) NOT NULL,
	[FechaCompra] [datetime2](7) NOT NULL,
	[CostoAdquisicion] [decimal](18, 2) NOT NULL,
	[PesoMaximoLingotera] [decimal](18, 2) NULL,
	[EsElectrica] [bit] NOT NULL,
 CONSTRAINT [PK_Maquina] PRIMARY KEY CLUSTERED 
(
	[IdMaquina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilIA]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilIA](
	[IdUsuario] [int] NOT NULL,
	[ObjetivoPrincipal] [varchar](500) NULL,
	[NivelExperiencia] [varchar](500) NULL,
	[EjerciciosPreferidos] [varchar](500) NULL,
	[EjerciciosAEvitar] [varchar](500) NULL,
	[DisponibilidadHoraria] [varchar](500) NULL,
	[MotivacionPersonal] [varchar](500) NULL,
 CONSTRAINT [PK_PerfilIA] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](80) NOT NULL,
	[Descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonaResponsable]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonaResponsable](
	[IdUsuario] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[TipoDocumento] [varchar](50) NOT NULL,
	[NroDocumento] [varchar](20) NOT NULL,
	[Genero] [varchar](20) NULL,
	[FechaNacimiento] [date] NULL,
 CONSTRAINT [PK_PersonaResponsable] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonaSocio]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonaSocio](
	[IdUsuario] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[TipoDocumento] [varchar](50) NOT NULL,
	[NroDocumento] [varchar](20) NOT NULL,
	[Genero] [varchar](20) NULL,
	[FechaNacimiento] [date] NULL,
	[ObraSocial] [varchar](50) NULL,
	[EstadoSocio] [varchar](50) NOT NULL,
	[FechaInicioActividades] [date] NULL,
	[FechaNotificacion] [date] NULL,
	[RespuestaNotificacion] [bit] NULL,
	[Pregunta] [varchar](100) NULL,
	[Respuesta] [varchar](100) NULL,
 CONSTRAINT [PK_PersonaSocio] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RangoHorario]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RangoHorario](
	[IdRangoHorario] [int] IDENTITY(1,1) NOT NULL,
	[HoraDesde] [time](7) NOT NULL,
	[HoraHasta] [time](7) NOT NULL,
 CONSTRAINT [PK_RangoHorario] PRIMARY KEY CLUSTERED 
(
	[IdRangoHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutina]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutina](
	[IdRutina] [int] IDENTITY(1,1) NOT NULL,
	[FechaModificacion] [datetime2](7) NOT NULL,
	[IdPersonaSocio] [int] NOT NULL,
	[IdDia] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Rutina] PRIMARY KEY CLUSTERED 
(
	[IdRutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEjercicio]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEjercicio](
	[IdTipoEjercicio] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoEjercicio] PRIMARY KEY CLUSTERED 
(
	[IdTipoEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[IdTurno] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuarioResponsable] [int] NOT NULL,
	[IdUsuarioSocio] [int] NOT NULL,
	[IdCupoFecha] [int] NOT NULL,
	[FechaAlta] [date] NOT NULL,
	[EstadoTurno] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Turno] PRIMARY KEY CLUSTERED 
(
	[IdTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[RefreshToken] [varchar](512) NULL,
	[RefreshTokenExpiryTime] [datetime2](7) NULL,
	[PasswordResetTokenExpiryTime] [datetime2](7) NULL,
	[PasswordResetTokenHash] [varchar](64) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioGrupo]    Script Date: 30/3/2026 14:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioGrupo](
	[IdUsuario] [int] NOT NULL,
	[IdGrupo] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioGrupo] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260210171414_InitDB', N'10.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260211182024_JWT', N'10.0.2')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260213161344_AddPasswordResetFields', N'10.0.2')
GO
SET IDENTITY_INSERT [dbo].[Cuota] ON 

INSERT [dbo].[Cuota] ([IdCuota], [IdUsuario], [Plan], [FechaInicioPeriodo], [FechaFinPeriodo], [Monto], [EstadoCuota], [FechaPago]) VALUES (1, 5, N'Mensual', CAST(N'2026-03-09' AS Date), CAST(N'2026-03-26' AS Date), CAST(0.00 AS Decimal(10, 2)), N'Vencida', NULL)
SET IDENTITY_INSERT [dbo].[Cuota] OFF
GO
SET IDENTITY_INSERT [dbo].[Dia] ON 

INSERT [dbo].[Dia] ([IdDia], [NombreDia]) VALUES (7, N'Domingo')
INSERT [dbo].[Dia] ([IdDia], [NombreDia]) VALUES (4, N'Jueves')
INSERT [dbo].[Dia] ([IdDia], [NombreDia]) VALUES (1, N'Lunes')
SET IDENTITY_INSERT [dbo].[Dia] OFF
GO
SET IDENTITY_INSERT [dbo].[DiaRangoHorario] ON 

INSERT [dbo].[DiaRangoHorario] ([IdDiaRangoHorario], [CupoMaximo], [Activo], [IdRangoHorario], [IdDia]) VALUES (1, 20, 1, 1, 1)
INSERT [dbo].[DiaRangoHorario] ([IdDiaRangoHorario], [CupoMaximo], [Activo], [IdRangoHorario], [IdDia]) VALUES (2, 20, 1, 1, 2)
INSERT [dbo].[DiaRangoHorario] ([IdDiaRangoHorario], [CupoMaximo], [Activo], [IdRangoHorario], [IdDia]) VALUES (3, 20, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[DiaRangoHorario] OFF
GO
SET IDENTITY_INSERT [dbo].[Ejercicio] ON 

INSERT [dbo].[Ejercicio] ([IdEjercicio], [DescEjercicio], [IdGrupoMuscular], [IdTipoEjercicio], [IdMaquina], [IdEquipamiento]) VALUES (1, N'Press de Banca Plano', 1, 2, NULL, NULL)
INSERT [dbo].[Ejercicio] ([IdEjercicio], [DescEjercicio], [IdGrupoMuscular], [IdTipoEjercicio], [IdMaquina], [IdEquipamiento]) VALUES (2, N'Prensa de Piernas Inclinada', 3, 2, 1, NULL)
INSERT [dbo].[Ejercicio] ([IdEjercicio], [DescEjercicio], [IdGrupoMuscular], [IdTipoEjercicio], [IdMaquina], [IdEquipamiento]) VALUES (6, N'Press Plano con Mancuernas', 1, 2, NULL, 1)
SET IDENTITY_INSERT [dbo].[Ejercicio] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipamiento] ON 

INSERT [dbo].[Equipamiento] ([IdEquipamiento], [NombreEquipo], [CostoAdquisicion], [PesoFijoKg]) VALUES (1, N'Mancuerna Hexagonal 10kg', CAST(45.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[Equipamiento] ([IdEquipamiento], [NombreEquipo], [CostoAdquisicion], [PesoFijoKg]) VALUES (2, N'Barra Olímpica 20kg', CAST(120.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)))
INSERT [dbo].[Equipamiento] ([IdEquipamiento], [NombreEquipo], [CostoAdquisicion], [PesoFijoKg]) VALUES (3, N'Banda Elástica Resistencia Media', CAST(15.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Equipamiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Grupo] ON 

INSERT [dbo].[Grupo] ([IdGrupo], [Nombre], [Descripcion]) VALUES (1, N'Admin', N'Migrado desde Usuario.Rol')
INSERT [dbo].[Grupo] ([IdGrupo], [Nombre], [Descripcion]) VALUES (2, N'Responsable', N'Migrado desde Usuario.Rol')
INSERT [dbo].[Grupo] ([IdGrupo], [Nombre], [Descripcion]) VALUES (3, N'Socio', N'Acceso para clientes del gimnasio')
SET IDENTITY_INSERT [dbo].[Grupo] OFF
GO
SET IDENTITY_INSERT [dbo].[GrupoMuscular] ON 

INSERT [dbo].[GrupoMuscular] ([IdGrupoMuscular], [NombreMusculo], [IdMapaAnatomico]) VALUES (1, N'Pecho', N'pectoral_01')
INSERT [dbo].[GrupoMuscular] ([IdGrupoMuscular], [NombreMusculo], [IdMapaAnatomico]) VALUES (2, N'Espalda', N'dorsal_01')
INSERT [dbo].[GrupoMuscular] ([IdGrupoMuscular], [NombreMusculo], [IdMapaAnatomico]) VALUES (3, N'Cuadriceps', N'quads_01')
SET IDENTITY_INSERT [dbo].[GrupoMuscular] OFF
GO
SET IDENTITY_INSERT [dbo].[Maquina] ON 

INSERT [dbo].[Maquina] ([IdMaquina], [NombreMaquina], [FechaFabricacion], [FechaCompra], [CostoAdquisicion], [PesoMaximoLingotera], [EsElectrica]) VALUES (1, N'Prensa de Piernas 45°', CAST(N'2024-01-15T00:00:00.0000000' AS DateTime2), CAST(N'2025-06-10T00:00:00.0000000' AS DateTime2), CAST(1500.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[Maquina] ([IdMaquina], [NombreMaquina], [FechaFabricacion], [FechaCompra], [CostoAdquisicion], [PesoMaximoLingotera], [EsElectrica]) VALUES (2, N'Cinta de Correr Pro-Run', CAST(N'2025-03-20T00:00:00.0000000' AS DateTime2), CAST(N'2025-11-05T00:00:00.0000000' AS DateTime2), CAST(3200.50 AS Decimal(18, 2)), NULL, 1)
INSERT [dbo].[Maquina] ([IdMaquina], [NombreMaquina], [FechaFabricacion], [FechaCompra], [CostoAdquisicion], [PesoMaximoLingotera], [EsElectrica]) VALUES (3, N'Polea Dual Ajustable', CAST(N'2023-08-12T00:00:00.0000000' AS DateTime2), CAST(N'2024-02-15T00:00:00.0000000' AS DateTime2), CAST(2100.00 AS Decimal(18, 2)), CAST(90.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[Maquina] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([IdPermiso], [Codigo], [Descripcion]) VALUES (1, N'CREAR_USUARIO', N'Permite la creación de nuevos usuarios en el sistema')
INSERT [dbo].[Permiso] ([IdPermiso], [Codigo], [Descripcion]) VALUES (2, N'EDITAR_USUARIO', N'Permite modificar la información de usuarios existentes')
INSERT [dbo].[Permiso] ([IdPermiso], [Codigo], [Descripcion]) VALUES (3, N'ELIMINAR_USUARIO', N'Permite dar de baja o eliminar usuarios del sistema')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
INSERT [dbo].[PersonaResponsable] ([IdUsuario], [Nombre], [Apellido], [Email], [Telefono], [Direccion], [Ciudad], [TipoDocumento], [NroDocumento], [Genero], [FechaNacimiento]) VALUES (1, N'Juan', N'Pérez', N'juan.actualizado@test.com', NULL, N'San Martín 456', N'Funes', N'DNI', N'12345678', N'Masculino', CAST(N'1990-05-10' AS Date))
INSERT [dbo].[PersonaResponsable] ([IdUsuario], [Nombre], [Apellido], [Email], [Telefono], [Direccion], [Ciudad], [TipoDocumento], [NroDocumento], [Genero], [FechaNacimiento]) VALUES (2, N'Nicolás', N'Di Domenico', N'nico@test.com', N'3415551234', N'Av. Pellegrini 1234', N'Rosario', N'DNI', N'40123456', N'Masculino', CAST(N'1998-05-15' AS Date))
INSERT [dbo].[PersonaResponsable] ([IdUsuario], [Nombre], [Apellido], [Email], [Telefono], [Direccion], [Ciudad], [TipoDocumento], [NroDocumento], [Genero], [FechaNacimiento]) VALUES (3, N'Mariana', N'Gómez', N'mariana.gomez@test.com', N'3416123456', N'San Martín 456', N'Rosario', N'DNI', N'39876543', N'Femenino', CAST(N'1995-08-22' AS Date))
GO
INSERT [dbo].[PersonaSocio] ([IdUsuario], [Nombre], [Apellido], [Email], [Telefono], [Direccion], [Ciudad], [TipoDocumento], [NroDocumento], [Genero], [FechaNacimiento], [ObraSocial], [EstadoSocio], [FechaInicioActividades], [FechaNotificacion], [RespuestaNotificacion], [Pregunta], [Respuesta]) VALUES (5, N'Martín', N'Gómez', N'martin.gomez@email.com', N'3415559999', N'Bv. Oroño 123', N'Rosario', N'DNI', N'40123456', N'Masculino', CAST(N'1998-10-20' AS Date), N'Swiss Medical', N'Nuevo', CAST(N'2026-02-26' AS Date), CAST(N'2026-02-26' AS Date), 1, N'¿Alguna lesión previa?', N'Ninguna')
GO
SET IDENTITY_INSERT [dbo].[RangoHorario] ON 

INSERT [dbo].[RangoHorario] ([IdRangoHorario], [HoraDesde], [HoraHasta]) VALUES (1, CAST(N'08:00:00' AS Time), CAST(N'09:00:00' AS Time))
INSERT [dbo].[RangoHorario] ([IdRangoHorario], [HoraDesde], [HoraHasta]) VALUES (2, CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time))
INSERT [dbo].[RangoHorario] ([IdRangoHorario], [HoraDesde], [HoraHasta]) VALUES (3, CAST(N'10:00:00' AS Time), CAST(N'11:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[RangoHorario] OFF
GO
SET IDENTITY_INSERT [dbo].[Rutina] ON 

INSERT [dbo].[Rutina] ([IdRutina], [FechaModificacion], [IdPersonaSocio], [IdDia], [Activo]) VALUES (1, CAST(N'2026-02-26T12:09:53.1227697' AS DateTime2), 5, 1, 0)
INSERT [dbo].[Rutina] ([IdRutina], [FechaModificacion], [IdPersonaSocio], [IdDia], [Activo]) VALUES (2, CAST(N'2026-02-26T12:09:53.1227697' AS DateTime2), 5, 3, 0)
INSERT [dbo].[Rutina] ([IdRutina], [FechaModificacion], [IdPersonaSocio], [IdDia], [Activo]) VALUES (3, CAST(N'2026-02-26T12:09:53.1227697' AS DateTime2), 5, 5, 0)
SET IDENTITY_INSERT [dbo].[Rutina] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoEjercicio] ON 

INSERT [dbo].[TipoEjercicio] ([IdTipoEjercicio], [NombreTipo]) VALUES (1, N'Calentamiento')
INSERT [dbo].[TipoEjercicio] ([IdTipoEjercicio], [NombreTipo]) VALUES (2, N'Entrenamiento')
INSERT [dbo].[TipoEjercicio] ([IdTipoEjercicio], [NombreTipo]) VALUES (3, N'Estiramiento')
SET IDENTITY_INSERT [dbo].[TipoEjercicio] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [FechaRegistro], [Username], [PasswordHash], [RefreshToken], [RefreshTokenExpiryTime], [PasswordResetTokenExpiryTime], [PasswordResetTokenHash]) VALUES (1, CAST(N'2026-02-10' AS Date), N'usuario_test_actualizado', N'HASH_ACTUALIZADO', NULL, NULL, NULL, NULL)
INSERT [dbo].[Usuario] ([IdUsuario], [FechaRegistro], [Username], [PasswordHash], [RefreshToken], [RefreshTokenExpiryTime], [PasswordResetTokenExpiryTime], [PasswordResetTokenHash]) VALUES (2, CAST(N'2026-02-11' AS Date), N'nico_admin', N'AQAAAAIAAYagAAAAEKPSHFlMuePZbYzB810+aPrrefTtnZTtdO4+3qaSPXMsBdcYsRheaVw881uhyOXVXg==', NULL, NULL, NULL, NULL)
INSERT [dbo].[Usuario] ([IdUsuario], [FechaRegistro], [Username], [PasswordHash], [RefreshToken], [RefreshTokenExpiryTime], [PasswordResetTokenExpiryTime], [PasswordResetTokenHash]) VALUES (3, CAST(N'2026-02-12' AS Date), N'mariana_admin', N'AQAAAAIAAYagAAAAEEm5BS7R445rh4N7MGoPlWZQVlHUIX7wj8sst/yf24vdmTBMsQx9a0/EyWArUw9rYg==', N'egRVwc0BsSF4l/Y0TLrU/CrIkzB1KUsAVgN1y+l32rQ=', CAST(N'2026-02-20T13:45:59.8750216' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[UsuarioGrupo] ([IdUsuario], [IdGrupo]) VALUES (4, 1)
INSERT [dbo].[UsuarioGrupo] ([IdUsuario], [IdGrupo]) VALUES (1, 2)
INSERT [dbo].[UsuarioGrupo] ([IdUsuario], [IdGrupo]) VALUES (2, 2)
GO
/****** Object:  Index [IX_Calentamiento_IdEjercicio]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Calentamiento_IdEjercicio] ON [dbo].[Calentamiento]
(
	[IdEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Calentamiento_IdRutina]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Calentamiento_IdRutina] ON [dbo].[Calentamiento]
(
	[IdRutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cuota_IdUsuario]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Cuota_IdUsuario] ON [dbo].[Cuota]
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CupoFecha_IdDiaRangoHorario_Fecha]    Script Date: 30/3/2026 14:04:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CupoFecha_IdDiaRangoHorario_Fecha] ON [dbo].[CupoFecha]
(
	[IdDiaRangoHorario] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Dia_NombreDia]    Script Date: 30/3/2026 14:04:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Dia_NombreDia] ON [dbo].[Dia]
(
	[NombreDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiaRangoHorario_IdDia_IdRangoHorario]    Script Date: 30/3/2026 14:04:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DiaRangoHorario_IdDia_IdRangoHorario] ON [dbo].[DiaRangoHorario]
(
	[IdDia] ASC,
	[IdRangoHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiaRangoHorario_IdRangoHorario]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_DiaRangoHorario_IdRangoHorario] ON [dbo].[DiaRangoHorario]
(
	[IdRangoHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiaRangoHorarioResponsable_IdDiaRangoHorario_IdUsuarioResponsable]    Script Date: 30/3/2026 14:04:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DiaRangoHorarioResponsable_IdDiaRangoHorario_IdUsuarioResponsable] ON [dbo].[DiaRangoHorarioResponsable]
(
	[IdDiaRangoHorario] ASC,
	[IdUsuarioResponsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiaRangoHorarioResponsable_IdUsuarioResponsable]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_DiaRangoHorarioResponsable_IdUsuarioResponsable] ON [dbo].[DiaRangoHorarioResponsable]
(
	[IdUsuarioResponsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ejercicio_IdEquipamiento]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Ejercicio_IdEquipamiento] ON [dbo].[Ejercicio]
(
	[IdEquipamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ejercicio_IdGrupoMuscular]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Ejercicio_IdGrupoMuscular] ON [dbo].[Ejercicio]
(
	[IdGrupoMuscular] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ejercicio_IdMaquina]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Ejercicio_IdMaquina] ON [dbo].[Ejercicio]
(
	[IdMaquina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ejercicio_IdTipoEjercicio]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Ejercicio_IdTipoEjercicio] ON [dbo].[Ejercicio]
(
	[IdTipoEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Entrenamiento_IdEjercicio]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Entrenamiento_IdEjercicio] ON [dbo].[Entrenamiento]
(
	[IdEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Entrenamiento_IdRutina]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Entrenamiento_IdRutina] ON [dbo].[Entrenamiento]
(
	[IdRutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Estiramiento_IdEjercicio]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Estiramiento_IdEjercicio] ON [dbo].[Estiramiento]
(
	[IdEjercicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Estiramiento_IdRutina]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Estiramiento_IdRutina] ON [dbo].[Estiramiento]
(
	[IdRutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Grupo_Nombre]    Script Date: 30/3/2026 14:04:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Grupo_Nombre] ON [dbo].[Grupo]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GrupoPermiso_IdPermiso]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_GrupoPermiso_IdPermiso] ON [dbo].[GrupoPermiso]
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Permiso_Codigo]    Script Date: 30/3/2026 14:04:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Permiso_Codigo] ON [dbo].[Permiso]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RangoHorario_HoraDesde_HoraHasta]    Script Date: 30/3/2026 14:04:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RangoHorario_HoraDesde_HoraHasta] ON [dbo].[RangoHorario]
(
	[HoraDesde] ASC,
	[HoraHasta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rutina_IdDia]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Rutina_IdDia] ON [dbo].[Rutina]
(
	[IdDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rutina_IdPersonaSocio_IdDia]    Script Date: 30/3/2026 14:04:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Rutina_IdPersonaSocio_IdDia] ON [dbo].[Rutina]
(
	[IdPersonaSocio] ASC,
	[IdDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Turno_IdCupoFecha]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Turno_IdCupoFecha] ON [dbo].[Turno]
(
	[IdCupoFecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Turno_IdUsuarioResponsable]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Turno_IdUsuarioResponsable] ON [dbo].[Turno]
(
	[IdUsuarioResponsable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Turno_IdUsuarioSocio]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_Turno_IdUsuarioSocio] ON [dbo].[Turno]
(
	[IdUsuarioSocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuario_Username]    Script Date: 30/3/2026 14:04:02 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Usuario_Username] ON [dbo].[Usuario]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UsuarioGrupo_IdGrupo]    Script Date: 30/3/2026 14:04:02 ******/
CREATE NONCLUSTERED INDEX [IX_UsuarioGrupo_IdGrupo] ON [dbo].[UsuarioGrupo]
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PersonaSocio] ADD  DEFAULT ('') FOR [EstadoSocio]
GO
ALTER TABLE [dbo].[Rutina] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Activo]
GO
ALTER TABLE [dbo].[Calentamiento]  WITH CHECK ADD  CONSTRAINT [FK_Calentamiento_Ejercicio_IdEjercicio] FOREIGN KEY([IdEjercicio])
REFERENCES [dbo].[Ejercicio] ([IdEjercicio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Calentamiento] CHECK CONSTRAINT [FK_Calentamiento_Ejercicio_IdEjercicio]
GO
ALTER TABLE [dbo].[Calentamiento]  WITH CHECK ADD  CONSTRAINT [FK_Calentamiento_Rutina_IdRutina] FOREIGN KEY([IdRutina])
REFERENCES [dbo].[Rutina] ([IdRutina])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Calentamiento] CHECK CONSTRAINT [FK_Calentamiento_Rutina_IdRutina]
GO
ALTER TABLE [dbo].[Cuota]  WITH CHECK ADD  CONSTRAINT [FK_Cuota_PersonaSocio_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[PersonaSocio] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cuota] CHECK CONSTRAINT [FK_Cuota_PersonaSocio_IdUsuario]
GO
ALTER TABLE [dbo].[CupoFecha]  WITH CHECK ADD  CONSTRAINT [FK_CupoFecha_DiaRangoHorario_IdDiaRangoHorario] FOREIGN KEY([IdDiaRangoHorario])
REFERENCES [dbo].[DiaRangoHorario] ([IdDiaRangoHorario])
GO
ALTER TABLE [dbo].[CupoFecha] CHECK CONSTRAINT [FK_CupoFecha_DiaRangoHorario_IdDiaRangoHorario]
GO
ALTER TABLE [dbo].[DiaRangoHorario]  WITH CHECK ADD  CONSTRAINT [FK_DiaRangoHorario_Dia_IdDia] FOREIGN KEY([IdDia])
REFERENCES [dbo].[Dia] ([IdDia])
GO
ALTER TABLE [dbo].[DiaRangoHorario] CHECK CONSTRAINT [FK_DiaRangoHorario_Dia_IdDia]
GO
ALTER TABLE [dbo].[DiaRangoHorario]  WITH CHECK ADD  CONSTRAINT [FK_DiaRangoHorario_RangoHorario_IdRangoHorario] FOREIGN KEY([IdRangoHorario])
REFERENCES [dbo].[RangoHorario] ([IdRangoHorario])
GO
ALTER TABLE [dbo].[DiaRangoHorario] CHECK CONSTRAINT [FK_DiaRangoHorario_RangoHorario_IdRangoHorario]
GO
ALTER TABLE [dbo].[DiaRangoHorarioResponsable]  WITH CHECK ADD  CONSTRAINT [FK_DiaRangoHorarioResponsable_DiaRangoHorario_IdDiaRangoHorario] FOREIGN KEY([IdDiaRangoHorario])
REFERENCES [dbo].[DiaRangoHorario] ([IdDiaRangoHorario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiaRangoHorarioResponsable] CHECK CONSTRAINT [FK_DiaRangoHorarioResponsable_DiaRangoHorario_IdDiaRangoHorario]
GO
ALTER TABLE [dbo].[DiaRangoHorarioResponsable]  WITH CHECK ADD  CONSTRAINT [FK_DiaRangoHorarioResponsable_PersonaResponsable_IdUsuarioResponsable] FOREIGN KEY([IdUsuarioResponsable])
REFERENCES [dbo].[PersonaResponsable] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiaRangoHorarioResponsable] CHECK CONSTRAINT [FK_DiaRangoHorarioResponsable_PersonaResponsable_IdUsuarioResponsable]
GO
ALTER TABLE [dbo].[Ejercicio]  WITH CHECK ADD  CONSTRAINT [FK_Ejercicio_Equipamiento_IdEquipamiento] FOREIGN KEY([IdEquipamiento])
REFERENCES [dbo].[Equipamiento] ([IdEquipamiento])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Ejercicio] CHECK CONSTRAINT [FK_Ejercicio_Equipamiento_IdEquipamiento]
GO
ALTER TABLE [dbo].[Ejercicio]  WITH CHECK ADD  CONSTRAINT [FK_Ejercicio_GrupoMuscular_IdGrupoMuscular] FOREIGN KEY([IdGrupoMuscular])
REFERENCES [dbo].[GrupoMuscular] ([IdGrupoMuscular])
GO
ALTER TABLE [dbo].[Ejercicio] CHECK CONSTRAINT [FK_Ejercicio_GrupoMuscular_IdGrupoMuscular]
GO
ALTER TABLE [dbo].[Ejercicio]  WITH CHECK ADD  CONSTRAINT [FK_Ejercicio_Maquina_IdMaquina] FOREIGN KEY([IdMaquina])
REFERENCES [dbo].[Maquina] ([IdMaquina])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Ejercicio] CHECK CONSTRAINT [FK_Ejercicio_Maquina_IdMaquina]
GO
ALTER TABLE [dbo].[Ejercicio]  WITH CHECK ADD  CONSTRAINT [FK_Ejercicio_TipoEjercicio_IdTipoEjercicio] FOREIGN KEY([IdTipoEjercicio])
REFERENCES [dbo].[TipoEjercicio] ([IdTipoEjercicio])
GO
ALTER TABLE [dbo].[Ejercicio] CHECK CONSTRAINT [FK_Ejercicio_TipoEjercicio_IdTipoEjercicio]
GO
ALTER TABLE [dbo].[Entrenamiento]  WITH CHECK ADD  CONSTRAINT [FK_Entrenamiento_Ejercicio_IdEjercicio] FOREIGN KEY([IdEjercicio])
REFERENCES [dbo].[Ejercicio] ([IdEjercicio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Entrenamiento] CHECK CONSTRAINT [FK_Entrenamiento_Ejercicio_IdEjercicio]
GO
ALTER TABLE [dbo].[Entrenamiento]  WITH CHECK ADD  CONSTRAINT [FK_Entrenamiento_Rutina_IdRutina] FOREIGN KEY([IdRutina])
REFERENCES [dbo].[Rutina] ([IdRutina])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Entrenamiento] CHECK CONSTRAINT [FK_Entrenamiento_Rutina_IdRutina]
GO
ALTER TABLE [dbo].[Estiramiento]  WITH CHECK ADD  CONSTRAINT [FK_Estiramiento_Ejercicio_IdEjercicio] FOREIGN KEY([IdEjercicio])
REFERENCES [dbo].[Ejercicio] ([IdEjercicio])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Estiramiento] CHECK CONSTRAINT [FK_Estiramiento_Ejercicio_IdEjercicio]
GO
ALTER TABLE [dbo].[Estiramiento]  WITH CHECK ADD  CONSTRAINT [FK_Estiramiento_Rutina_IdRutina] FOREIGN KEY([IdRutina])
REFERENCES [dbo].[Rutina] ([IdRutina])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Estiramiento] CHECK CONSTRAINT [FK_Estiramiento_Rutina_IdRutina]
GO
ALTER TABLE [dbo].[GrupoPermiso]  WITH CHECK ADD  CONSTRAINT [FK_GrupoPermiso_Grupo_IdGrupo] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupo] ([IdGrupo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GrupoPermiso] CHECK CONSTRAINT [FK_GrupoPermiso_Grupo_IdGrupo]
GO
ALTER TABLE [dbo].[GrupoPermiso]  WITH CHECK ADD  CONSTRAINT [FK_GrupoPermiso_Permiso_IdPermiso] FOREIGN KEY([IdPermiso])
REFERENCES [dbo].[Permiso] ([IdPermiso])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GrupoPermiso] CHECK CONSTRAINT [FK_GrupoPermiso_Permiso_IdPermiso]
GO
ALTER TABLE [dbo].[PerfilIA]  WITH CHECK ADD  CONSTRAINT [FK_PerfilIA_PersonaSocio_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[PersonaSocio] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PerfilIA] CHECK CONSTRAINT [FK_PerfilIA_PersonaSocio_IdUsuario]
GO
ALTER TABLE [dbo].[PersonaResponsable]  WITH CHECK ADD  CONSTRAINT [FK_PersonaResponsable_Usuario_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonaResponsable] CHECK CONSTRAINT [FK_PersonaResponsable_Usuario_IdUsuario]
GO
ALTER TABLE [dbo].[PersonaSocio]  WITH CHECK ADD  CONSTRAINT [FK_PersonaSocio_Usuario_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonaSocio] CHECK CONSTRAINT [FK_PersonaSocio_Usuario_IdUsuario]
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [FK_Rutina_Dia_IdDia] FOREIGN KEY([IdDia])
REFERENCES [dbo].[Dia] ([IdDia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [FK_Rutina_Dia_IdDia]
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [FK_Rutina_PersonaSocio_IdPersonaSocio] FOREIGN KEY([IdPersonaSocio])
REFERENCES [dbo].[PersonaSocio] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [FK_Rutina_PersonaSocio_IdPersonaSocio]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_CupoFecha_IdCupoFecha] FOREIGN KEY([IdCupoFecha])
REFERENCES [dbo].[CupoFecha] ([IdCupoFecha])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_CupoFecha_IdCupoFecha]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_PersonaResponsable_IdUsuarioResponsable] FOREIGN KEY([IdUsuarioResponsable])
REFERENCES [dbo].[PersonaResponsable] ([IdUsuario])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_PersonaResponsable_IdUsuarioResponsable]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_PersonaSocio_IdUsuarioSocio] FOREIGN KEY([IdUsuarioSocio])
REFERENCES [dbo].[PersonaSocio] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_PersonaSocio_IdUsuarioSocio]
GO
ALTER TABLE [dbo].[UsuarioGrupo]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioGrupo_Grupo_IdGrupo] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupo] ([IdGrupo])
GO
ALTER TABLE [dbo].[UsuarioGrupo] CHECK CONSTRAINT [FK_UsuarioGrupo_Grupo_IdGrupo]
GO
ALTER TABLE [dbo].[UsuarioGrupo]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioGrupo_Usuario_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioGrupo] CHECK CONSTRAINT [FK_UsuarioGrupo_Usuario_IdUsuario]
GO
USE [master]
GO
