USE [master]
GO
/****** Object:  Database [MindFitIntelligence]    Script Date: 10/2/2026 14:46:49 ******/
CREATE DATABASE [MindFitIntelligence]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MindFitIntelligence', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MindFitIntelligence.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MindFitIntelligence_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MindFitIntelligence_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MindFitIntelligence].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MindFitIntelligence]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/2/2026 14:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonaResponsable]    Script Date: 10/2/2026 14:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonaResponsable](
	[IdUsuario] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[TipoDocumento] [varchar](50) NOT NULL,
	[NroDocumento] [varchar](20) NOT NULL,
	[Genero] [int] NULL,
	[FechaNacimiento] [date] NULL,
 CONSTRAINT [PK_PersonaResponsable] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonaSocio]    Script Date: 10/2/2026 14:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonaSocio](
	[IdUsuario] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[TipoDocumento] [varchar](50) NOT NULL,
	[NroDocumento] [varchar](20) NOT NULL,
	[Genero] [int] NULL,
	[FechaNacimiento] [date] NULL,
	[ObraSocial] [varchar](50) NULL,
	[Plan] [varchar](50) NULL,
	[EstadoSocio] [varchar](50) NULL,
	[FechaInicioActividades] [date] NULL,
	[FechaFinActividades] [date] NULL,
	[FechaNotificacion] [date] NULL,
	[RespuestaNotificacion] [bit] NULL,
	[Pregunta] [varchar](100) NULL,
	[Respuesta] [varchar](100) NULL,
 CONSTRAINT [PK_PersonaSocio] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/2/2026 14:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Rol] [nvarchar](max) NOT NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[RefreshTokenExpiryTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260210171414_InitDB', N'10.0.2')
GO
INSERT [dbo].[PersonaResponsable] ([IdUsuario], [Nombre], [Apellido], [Email], [Telefono], [Direccion], [Ciudad], [TipoDocumento], [NroDocumento], [Genero], [FechaNacimiento]) VALUES (1, N'Juan', N'Pérez', N'juan.actualizado@test.com', NULL, N'San Martín 456', N'Funes', N'DNI', N'12345678', 1, CAST(N'1990-05-10' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [FechaRegistro], [Username], [PasswordHash], [Rol], [RefreshToken], [RefreshTokenExpiryTime]) VALUES (1, CAST(N'2026-02-10' AS Date), N'usuario_test_actualizado', N'HASH_ACTUALIZADO', N'Responsable', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[PersonaResponsable]  WITH CHECK ADD  CONSTRAINT [FK_PersonaResponsable_Usuario_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonaResponsable] CHECK CONSTRAINT [FK_PersonaResponsable_Usuario_IdUsuario]
GO
ALTER TABLE [dbo].[PersonaSocio]  WITH CHECK ADD  CONSTRAINT [FK_PersonaSocio_Usuario_IdUsuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonaSocio] CHECK CONSTRAINT [FK_PersonaSocio_Usuario_IdUsuario]
GO
USE [master]
GO
